
<div
   id="indicator_tags"
   data-change-event="field-selected"
   data-searchable="true"
   full-size-menu="true"
   style="width: 150px;"
   >
<!-- <a class="button"> add a tag </a> -->
</div>

  <div class="row">
     <div class="columns small-8 left-box">
         <table class="location-table">
             <thead>
                 <tr>
                     <th  style="width: 126px;">Tag Name</th>
                     <th style="width: 70px;">Remove</th>
                 </tr>
             </thead>
            <tbody>
	            <tr v-repeat="tag:indicator_tags">
                <td>
	               {{tag.tag_name}}
	              </td>
                <td>
	                <span v-on="click:deleteTagFromIndicator(tag.indicator_tag_id)" class="fa fa-times"></span>
	              </td>

	            </tr>
            </tbody>
         </table>
       </div>
    <div class="columns small-4 right-box">
  	<div id="tagSelector"></div>
    </div>

  </div>
