@import "react-widgets";
@import "react-widgets-core";
@import "tags-tree";

@mixin user-select($select) {
  -webkit-user-select: $select;
  -moz-user-select: $select;
  -ms-user-select: $select;
  user-select: $select;
}

.admin-container {
  margin: 20px;

  .admin-header {
    display: inline-block;
  }
  ul.admin-nav {
    display: inline-block;
    margin-left: 14px;

    li {
      list-style-type: none;
      font-size: 13pt;
      display: inline-block;
      margin: 10px 4px 10px 0;
    }
    a {
      padding: 8px;
      background-color: $rhz-button-bg-color;
      color: $rhz-font-color;

      &:hover {
        background-color: #426281;
      }

      &.active {
        background: #426281;
        color: #f0f0f0;
      }
    }
  }

  .ufadmin-create-button {
    float: right;
  }
  .ufadmin-page-heading {
    float: left;
    line-height: 64px;
  }
  .local-datascope {
    clear: both;
  }
}

.ufadmin-filters-container {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 20px;

  .ufadmin-show-filters {
    font-size: 11pt;
    cursor: pointer;
    font-weight: bold;
    line-height: 200%;
    @include user-select(none);
  }
  .ufadmin-filters-content {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.datascope-paginator {
  text-align: center;
  span.pagination-truncate {
    display: inline-block;
    padding: 2px 6px;
  }
  .page-link {
    display: inline-block;
    padding: 4px;
    background: #f0f0f0;
    margin: 0 2px;
    cursor: pointer;
  }
  .page-link.active {
    background: #416182;
    color: #f0f0f0;
  }
  .pagination-count {
    margin-top: 4px;
    float: left;
  }
}

.ds-date-range-filter {
  .ds-date-range-title {
    font-size: 11pt;
    line-height: 190%;
  }
  .ds-date-range-pre-min, .ds-date-range-post-min,
  .ds-date-range-pre-max, .ds-date-range-post-max {
    display: inline-block;
    margin: 0 10px;
    font-size: 10pt;
  }
  .ds-date-range-pre-min {
    margin-left: 0;
  }
  .ds-date-range-min, .ds-date-range-max {
    display: inline-block;
  }
  .ds-date-range-min {
    margin-left: 40px;
  }

  .rw-datetimepicker {
    display: inline-block;
    width: 300px;
    font-size: 12pt;
    input {
      margin: 0;
    }
    .rw-select {
      top: 0;
    }
  }
}

.ds-data-table-sortable {
  thead th {
    cursor: pointer;
    @include user-select(none);
  }
}

.ds-data-table-empty {
  background: #f0f0f0;
  padding: 20px;
  font-size: 11pt;
  font-weight: bold;
  text-align: center;
}

.ds-clear-query-link {
  display: inline-block;
  a {
    display: inline-block;
    margin-left: 20px;
    font-size: 11pt;
    font-weight: normal;
  }
}

.admin-notify-error-form {
  .errorlist {
    color: $alert-color;
    margin-bottom: 0;
    margin-top: 3em;
  }
  .date-picker-button-container{
    margin-top: 1em;
  }
  .notify-flat-error{
    .errorlist{
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}


.admin_campaigns_date_picker{
  font-size: 15px;
  .rw-datetimepicker .rw-btn{
    width:1.9em;
  }
}
