svg {
  overflow: visible;

  .bg {
    fill: $white;
  }

  .axis {
    font-family: $font-family-sans-serif;
    font-size: $axis-font-size;
    fill: $axis-font-color;
    stroke: none;

    text {
      &.annotation {
        fill: $smoke;
      }
    }

    line {
      fill: none;
      stroke: $light-gray;
      stroke-width: 1px;
      shape-rendering: crispEdges;
    }

    .domain {
      fill: none;
    }

    &.x {
      .domain {
        stroke-width: 2px;
        stroke: $iron;
      }
    }

    &.y {
      .domain {
        display: none;
      }
    }
  }

  &.line {
    path {
      fill: none;
      stroke: inherit;
      stroke-width: 2px;
    }

    circle {
      fill: inherit;
      stroke: $white;
      stroke-width: 1px;
    }
  }

  &.spaghetti {
    path {
      fill: none;
      shape-rendering: crispEdges;
      stroke: inherit;
      stroke-width: 2px;
    }
  }

  .area,
  .layer {
    fill: $iron;
    fill-opacity: 0.6;
  }

  .bar {
    text {
      font-size: rem-calc(9);
      font-weight: bold;
    }
  }

  .point {
    fill: $white;
    stroke-width: 1px;
  }

  .hover-tile {
    fill-opacity: 0;
    stroke: none;
  }

  .hover-line {
    stroke: $oil;
    shape-rendering: crispEdges;
  }

  .location {
    fill: $white;
    stroke: $aluminum;
    stroke-width: 1px;
  }

  .clickable {
    cursor: pointer;
  }

  .label {
    margin: 0;
    padding: 1pt 0;
    text-shadow: $legibility-shadow;
  }

  .legend {
    font-size: 0.625rem;
  }
}

.choropleth {
  position: relative;
}

.reds {
  .q-1 {
    background-color: $red1;
    fill: $red1;
  }

  .q-2 {
    background-color: $red2;
    fill: $red2;
  }

  .q-3 {
    background-color: $red3;
    fill: $red3;
  }
  .q-4 {
    background-color: $red4;
    fill: $red4;
  }

  .q-5 {
    background-color: $red5;
    fill: $red5;
  }

  .q-6 {
    background-color: #2D2525;
    fill: #2D2525;
  }
}

.chart {
  position: relative;
  margin-bottom: 15px;

  &.bar {
    .x.axis {
      line {
        display: inline;
        stroke: $smoke;
      }
    }
  }
}

.pie-chart {
  margin-bottom: 0px;
}

.legend {
  font-size: rem-calc(9);
  list-style: none;
  margin: 0;

  .key {
    display: inline-block;
    position: relative;
    width: 1.2em;
    height: 1.2em;
    margin-right: 0.2em;
    margin-bottom: -0.2em;
  }

  &.interactive {
    .series {
      cursor: pointer;
    }
  }

  rect {
    shape-rendering: crispEdges;
    stroke-width: 3;
  }
}

// Bullet chart coloring
.bad {
  h6 {
    color: $down-color;
    font-weight: bold;
  }

  svg.bullet-chart {
    .value,
    .comparative-measure {
      fill: $down-color;
    }
  }
}

.good {
  h6 {
    color: $up-color;
  }

  svg.bullet-chart {
    .value,
    .comparative-measure {
      fill: $up-color;
    }
  }
}

.labeled-donut {
  position: relative;

  .donut-label {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin-top: -0.8em;
    font-size: 14px;
    font-weight: bold;
    text-align: center;

    label {
      font-size: 0.25em;
    }
  }
  //
  //.label__value {
  //  top: 30% !important;
  //  left: -40% !important;
  //}
}

.stacked.bar,
.grouped-bar,
.stacked-bar {
  .data {
    fill: #414849;
  }

  .axis {
    &.x {
      .domain {
        display: none;
      }

      .tick {
        line {
          display: inline;
          stroke: $white;
        }
      }
    }

    &.y {
      text {
        text-shadow: $legibility-shadow;
      }
    }
  }
}

.heatmap {
  border: none;
  border-collapse: separate;
  cursor: initial;
  overflow: hidden;

  &.sortable {
    .x.axis {
      .tick {
        cursor: pointer;
      }
    }

  }

  .x.axis {
    .domain {
      display: none;
    }
  }

  .y.axis {
    .tick {
      cursor: pointer;
    }
  }
}

#nco-dashboard {
  .bar.chart {
    rect {
      cursor: pointer;
    }
  }

  .scatter {
    .point {
      cursor: pointer;
    }
  }
}

.tooltip {
  svg {
    margin: 1rem 0;
    max-width: initial;
    width: initial;
  }

  .histogram {
    rect, .label {
      fill: $white;
      opacity: 0.6;
    }

    .current {
      rect, .label {
        opacity: 1;
      }
    }

    .axis {
      opacity: 0.3;

      .domain {
        stroke: $white;
        stroke-width: 1px;
        shape-rendering: crispEdges;
      }
      text {
        fill: $white;
      }
    }
  }
}

.bullet-chart {
  rect {
    shape-rendering: crispEdges;
    stroke: none;
  }

  .bar,
  .comparative-measure {
    fill: $coolgray5;
    z-index: 999;
  }

  .ranges {
    .range-label {
      fill: #666666;
    }
  }

  .label {
    text-shadow: none;

    &.dark {
      fill: $oil;
    }
  }

  text {
    text-transform: uppercase;
  }
}

.scatter-chart {
  .axis {
    .domain {
      display: none;
    }
  }
}

.chart__bullet--overlay {
  background-color: #FFFFFF !important;
  border: solid 2px $rhz-bullet-chart-no-data-color;
  border-radius: 5px;
  height: 15px;
}

.chart__bullet--noData {
  text-align: left;
  font-size: 9px;
  line-height: 1.5;
  span {
    margin-left: 2px;
  }
}

.micro__text {
  font-size: 15px;
  margin-top: 10%;
  margin-left: -15%;
}

