.upload__csv {
  text-align: center;
  width: 80%;

  hr {
    border: solid #344B61;
    border-width: 1px 0 0
  }
}

.upload__csv--load {
  margin: 20px 0;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
}

.upload__csv--step {
  text-align: left;
  font-size: 15px;
  padding: 10px;

  span {
    &:first-child {
      font-family: proxima-bold;
    }
  }
}

.upload__csv--search {
  padding: 30px 15px;
}

.csv-upload__message {
  padding: 20px;
}

.csv-upload__tags {
  text-align: left;
  font-size: 1rem;
  padding: 0.5rem 0;

  .csv-upload__tags--span {
    font-weight: 600;
    text-transform: capitalize;
  }
}

.csv-upload__title {
  .columns {
    &:last-child {
      float: left;
    }
  }
}

.csv-upload__button {
  margin: 1px;
  padding: 15px;
}

.upload__csv--file-choose {
  float: left !important;
  li {
    padding: 1.8rem 0;
    font-size: 15px;
  }
}

.csv-upload__file--message {
  padding: 10px 0px;
  text-align: left;
}

.csv-upload__button-style {
  font-size: 15px;
}

.refresh__button {
  padding: 40px;
}
