.upload__csv {
  text-align: center;
  width: 80%;
}

.upload__csv--load {
  margin: 20px 0;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  text-align: left;
}

.upload__csv--form {
  padding: 20px;
}

.upload__csv--step {
  text-align: left;
  font-size: 15px;
  padding: 10px;
}

.upload__csv--search {
  padding: 30px 15px;
}

.csv-upload__message {
  padding: 20px;
}

.csv-upload__tags {
  text-align: left;
  font-size: 1rem;
  padding: 0.5rem 0;

  .csv-upload__tags--span {
    font-weight: 600;
    text-transform: capitalize;
  }
}

.csv-upload__title {
  .columns {
    &:last-child {
      float: left;
    }
  }
}

.csv-upload__button {
  margin: 1px;
}