@import "variables";

footer {
  background-color: $rhz-navigation-bg-color;
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 48px;

  #actions {
    float: left;

    a {
      .action {
        padding: 8px;
        font-size: 0.9rem;
        color: $rhz-navigation-color;

        span {
          text-transform: uppercase;
        }

        &:hover {
          color: $rhz-background-color;
        }
      }
    }

  }

  #static-links {
    float: right;


    a {
      .action {
        padding: 8px;
        font-size: 0.9rem;
        color: $rhz-navigation-color;
        text-transform: uppercase;

        &:hover {
          color: $rhz-background-color;
        }
      }
    }

  }

  @include clearfix;
}