form {
  &.inline {
    button,
    .button {
      @include button-size($button-tny, true);
      margin-bottom: rem-calc(5);
    }
  }

  .dropdown {
    .menu-button {
      margin-bottom: rem-calc(5);
      padding-left: rem-calc(12);
      padding-right: 2rem;
      text-align: left;
      border-bottom-width: 3px;
      border-bottom-color: #667c89;
    }

    .selection-controls {
      button,
      .button {
      	@include button-size($button-tny);
      	width: auto;
        margin-bottom: rem-calc(5);
      }
    }
  }

  .clear-btn {
  	color: $base;
  }
}

input[type="text"],
input[type="password"],
.text-field {
	border-bottom: 2px solid lighten($primary-color, 20%);
	transition: border 300ms ease-in-out;
	&:focus {
		box-shadow: none;
		outline: none;
	}
}

.text-right{
  text-align: right;
}