form {
  &.inline {
    button,
    .button {
      @include button-size($button-tny, true);
      margin-bottom: rem-calc(5);
    }
  }

  .dropdown {
    .menu-button {
      margin-bottom: rem-calc(5);
      padding-left: rem-calc(12);
      padding-right: 2rem;
      text-align: left;
      border-bottom-width: 3px;
      border-bottom-color: #667c89;
    }

    .selection-controls {
      button,
      .button {
      	@include button-size($button-tny);
      	width: auto;
        margin-bottom: rem-calc(5);
      }
    }
  }

  .clear-btn {
  	color: $base;
  }
}

.cd-bg-color {
  background-color: $rhz-background-color;
  .description {
    margin: 10px 0;
    border: 1px solid #344B61;
  }

  .cd-header-title {
    font-size: 1rem;
    padding: 22px;
    text-transform: uppercase;
    text-align: right;
    color: #FEFEFE;
  }
}

input[type="text"],
input[type="password"],
.text-field {
	border-bottom: 2px solid $primary-color;
	transition: border 300ms ease-in-out;

	&:focus {
		box-shadow: none;
		outline: none;
	}
}
