header {
  background-color: $rhz-navigation-bg-color;
  color: $rhz-navigation-color;
  font-size: 1rem;

  .navigation-bar {
    height: $header-height;
    overflow: hidden;
  }

  .channels {
    text-align: left;

    li {
      margin: 0;
      padding: 38px 30px;

      font-size: 1rem;

      .tab {
        span {
          padding-left: 4px;
          text-transform: uppercase;
        }
      }

      &.active {
        background-color: $rhz-background-color;
      }
    }
  }

  .logo {
    text-align: center;
    img {
      height: 80%;
    }
  }

  .dashboard-control {
    text-align: right;
    li {
      //margin: 8% 0;
      font-size: 1rem;
    }
  }
}

ul.dashboards-nav {
  display: block;
  position: relative;

  > li {
    margin: 0;
    padding: 0;
    border: none;

    &:hover {
      background-color: $rhz-navigation-hover-bg-color;
      .dashboard-menu {
        display: block;
      }
    }

    > a {
      padding: 0 20px;
      display: block;
      height: $header-height;
      line-height: $header-height;
      opacity: 1;
      text-transform: uppercase;
    }
  }
}

.dashboard-menu {
  display: none;
  position: absolute;
  
  ul {
    display: block;
    margin: 0;
    border: 1px solid #fff;
    background-color: $rhz-navigation-hover-bg-color;
    > li {
      display: block;
      padding: 0;
      margin: 0;
      border: none;
      a {
        display: block;
        margin: 10px;
        opacity: 1;
      }
    }
  }
}
