header {
  background-color: $rhz-navigation-bg-color;
  color: $rhz-navigation-color;
  text-transform: uppercase;
  z-index: 10000;

  @include respond-to(medium-screens) {
    nav {
      text-align: center !important;
      padding: 0 !important;
    }
    .dashboards-nav, .dashboards-bar, nav > ul > li{
      padding: 0 !important;
    }
  }

  a {
    color: $rhz-font-color;
    font-size: 1rem;

    &:hover {
      color: $rhz-font-color !important;
    }
  }

  .navigation-bar {
    height: $header-height;
  }

  .channels {
    @include clearfix();
    li {
      margin: 0;
      display: inline-block;
      text-align: center;

      &.active {
        background-color: $rhz-background-color;
      }

      > a {
        padding: 2.1em 0.7em;
        display: block;
        height: $header-height;
        opacity: 1;
      }

      .fa {
        margin-right: 5px;
      }
    }
  }

  .logo {
    text-align: center;
    height: 100%;
  }

  .dashboard-control {
    text-align: right;
  }
}

ul.dashboards-nav {
  display: block;
  position: relative;
  padding-left: 70px;
  @include clearfix();

  .log-out {
      text-align: center;
    }

  > li {
    margin: 0;
    padding: 0;
    border: none;
    display: inline-block;
    text-align: left;
    background-color: $rhz-navigation-bg-color;

    &:hover {
      background-color: $rhz-navigation-hover-bg-color;

      .dashboard-menu {
        display: block;
      }
    }

    > a {
      height: $header-height;
      opacity: 1;
      text-transform: uppercase;
      text-align: left;
      font-size: 0.8rem;
      padding: 27px 20px;
      display: block;
    }
  }
}

.dashboard-menu {
  display: none;
  position: absolute;
  margin: 0;
  border: 1px solid #fff; //todo:
  background-color: $rhz-navigation-hover-bg-color;
  width: 300px; //todo:
  z-index: 10001;

  > li {

    display: block;
    margin: 0;
    border: none;
    text-align: left;
    overflow-x: hidden;

    hr {
      margin: 0.5em 0 0.5em;
    }

    a {
      color: $rhz-font-color;
      font-size: 1rem;
      display: block;
      padding: 5px 10px;
      opacity: 1;
      overflow-x: hidden;
      text-overflow: ellipsis;
      text-transform: uppercase;
      font-size: 0.8rem;
      color: $rhz-font-color;

      &:hover {
        background-color: $rhz-button-bg-color;
      }
    }
  }

  .allCustomDashboards {
    text-decoration: underline;
    a {
      font-size: 0.6rem;
      text-transform: lowercase;
    }
  }
}

.image-style {
  margin: -5px;
}
