@import "variables";


.charts {
  padding: 2px;

  .chart-panel {
    list-style: none;
    border: 2px solid #426281

    float: left;
    width: 33.33%;

    background-color: $rhz-chart-panel-color;
    margin: 2px;
    padding: 10px 16px;

    h5 {
      text-transform: uppercase;
    }
  }

  @include clearfix;
}

