.menu {
	display  : inline-block;
	position : relative;

	.container {
		padding  : 11px 4px 22px 4px;
		position : absolute;
		top      : 100%;
		z-index  : 9999;

		ul {
			list-style : none;
			margin     : 0;
			max-width  : 50em;
			min-width  : 20em;
			overflow-x : clip;
			overflow-y : scroll;
			padding    : 0;
			text-align : left;

			li {
				padding : 0;
				margin  : 0;

				.fa {
					visibility: hidden;
				}

				a {
					white-space   : nowrap;
					text-overflow : ellipsis;
					font-size: 12px;

					&.folder {
						& > .fa {
							visibility: visible;
						}
					}
				}
			}
		}

		*[role="search"] {
			position : relative;

			input {
				padding-right : 2rem;
				margin-bottom : 0;
			}

			.clear-btn {
				position    : absolute;
				line-height : 1;
				right       : 0.5rem;
				top         : 50%;
				margin-top  : -0.5em;
			}
		}
	}

	.background {
		background-color : white;
		//border-radius    : 3px;
		//border-width     : 1px;
		//border-style     : solid;
		//box-shadow       : 0 3px 9px 0 rgba(0,0,0,0.2);
		position         : relative;

		.arrow,
		.arrow:after {
			position : absolute;
			display  : block;
			height   : 0;
			width    : 0;
		}

		.arrow {
			border-left   : 11px solid transparent;
			border-right  : 11px solid transparent;
			border-bottom : 11px solid #FAFAFA;
			top           : -11px;

			&:after {
				top           : 1px;
				content       : " ";
				border-left   : 10px solid transparent;
				border-right  : 10px solid transparent;
				border-bottom : 10px solid white;
				margin-left   : -10px;
			}
		}
	}
}

.center {
	left : 50%;

	.arrow{
		left        : 50%;
		margin-left : -11px;
	}
}

.right {
	right : 0;

	.arrow {
		right : 0;
	}
}
