$include-html-grid-classes: false;
$include-html-block-grid-classes: false;

@import "foundation/components/block-grid";
@import "foundation/components/grid";

$total-columns: 8;

@media #{$small-up} {
	.search-criteria {
		@include grid-html-classes($size:small);
		@include block-grid-html-classes($size:small,$include-spacing:false);
	}
}

@media #{$medium-up} {
	.search-criteria {
		@include grid-html-classes($size:medium);
		@include block-grid-html-classes($size:medium,$include-spacing:false);
	}
}

@media #{$large-up} {
	.search-criteria {
		@include grid-html-classes($size:large);
		@include block-grid-html-classes($size:large,$include-spacing:false);
	}
}

.search-criteria {
  background-color: $rhz-background-color;
}

.dropdown-list {
  background-color: white;
  color: $rhz-background-color;
  font-size: 0.825rem;
  position: relative;
  padding: 10px;
  margin: 16px 0;
  cursor: pointer;
  text-transform: uppercase;

  a {
	position: absolute;
	right: 0;
	top: 0;
	color: $rhz-background-color;
  }
}

.title-font {
  font-weight: 600;
}
