$rhz-font-color: #FEFEFE;
$rhz-font-hover-color: #436380;

$rhz-background-color: #436380;
$rhz-dashboard-bg-color: #FFFFFF;

$rhz-tab-active-bg-color: #436380;

$rhz-navigation-bg-color: #000000;
$rhz-navigation-color: $rhz-font-color;
$rhz-navigation-hover-bg-color:#6B7A83;

$rhz-navigation-hover-sop-color: #c32027;
$rhz-navigation-hover-c4d-color: #217985;
$rhz-navigation-hover-data-color: #436380;

$rhz-button-bg-color: #344B61;
$rhz-button-color: $rhz-font-color;

$rhz-chart-panel-color: #FFFFFF;
$rhz-chart-legend-color: #BFBFBF;

$rhz-slide-color: #E2E2E2;
$rhz-slide-dot-color: #EFEEEE;
$rhz-slide-dot-active-color: #BCBCBC;

$rhz-chart-title-bg-color: #334B61;
$rhz-chart-title-color: #FFFFFF;

$rhz-bullet-chart-no-data-color: #B9C3CB;

$header-height: 95px;
