/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@import "settings";

// Make sure that importing these to components doesn't dump all the HTML
// classes for screen-only grids into our print styles.
$include-html-grid-classes: false;
$include-html-block-grid-classes: false;
@import "foundation/components/block-grid";
@import "foundation/components/grid";

@import "variables";

$total-columns: 8;

@page {
  margin: 0;
}

body {
  margin: 0.25in;
}

form,
nav,
header {
  display: none !important;
}

.navigation-bar {
  display: none !important;
}

.cd-titlebar {
  display: none !important;
}

@include grid-html-classes($size: small);
@include block-grid-html-classes($size: small, $include-spacing: false);

@media (min-width: 8in) {
  @include grid-html-classes($size: medium);
  @include block-grid-html-classes($size: medium, $include-spacing: false);
}

@media (min-width: 10.5in) {
  @include grid-html-classes($size: large);
  @include block-grid-html-classes($size: large, $include-spacing: false);
}

h4,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.highlight {
  color: $secondary-color !important;
}

#main {
  padding-bottom: 0;
}

.print__font {
  font-size: x-small !important;
}

#management-dashboard {
  color: #a7aeaf;
  font-size: xx-small;

  h1 {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;

    .location {
      text-transform: uppercase;
    }

    .campaign {
      font-weight: normal;
    }
  }

  h2 {
    display: inline-block;
    font-size: 12px;
    color: #759CB8 !important;
    padding: 0.7em
  }

  h3 {
    background: $rhz-chart-title-bg-color !important;
    color: $rhz-chart-title-color !important;
    text-transform: uppercase;
    font-family: serif;
    padding: 2px 2px;
    margin: 8px 0;
  }

  p {
    font-size: 8px;
  }

  h4, h6 {
    font-size: xx-small;
  }

  .chart {
    margin-bottom: 10px;
  }

  .pie-charts,
  .pie-chart {
    margin: 0;
  }
  .micro__text {
    font-size: 10px;
  }

  table td {
    font-size: xx-small;
  }

}

.ie #management-dashboard {
  color: #a7aeaf;
  font-size: xx-small;

  h1 {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;

    .location {
      text-transform: uppercase;
    }

    .campaign {
      font-weight: normal;
    }
  }

  h2 {
    display: inline-block;
    font-size: 12px;
    color: #759CB8 !important;
    padding: 0.7em
  }

  h3 {
    background: $rhz-chart-title-bg-color !important;
    color: $rhz-chart-title-color !important;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
  }

  p {
    font-size: 8px;
  }

  h4, h6 {
    font-size: xx-small;
  }

  .chart {
    margin-bottom: 5px;
  }

  .pie-charts,
  .pie-chart {
    margin: 0;
  }

  table td {
    font-size: xx-small;
  }

  .bullet-chart svg {
    width: 3.247cm;
    height: 1.022cm;
  }
}

.logo {
  display: inline;
  height: 25pt;
  float: right;
}
