@import "fonts";
@import "variables";
@import "mixins";
@import "settings";
@import "foundation";
@import "font-awesome";
@import "utilities";
@import "forms";
@import "charts";
@import "dashboards-redesign";
@import "admin";
@import "react-widgets";
@import "react-widgets-core";
@import "rw-dateTimePicker";
@import "csv-upload";

$break-small: 340px;
$break-large: 1300px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) {
      @content;
    }
  } @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) {
      @content;
    }
  } @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) {
      @content;
    }
  }
}

body {
  font-size: rem-calc(10);
  overflow-x: hidden;
}

@import "header";
@import "about";

@import "homepage";

#management-dashboard {
  background-color: $rhz-dashboard-bg-color;
}

#main {
  padding-bottom: 100px;
}

h6 {
  //margin-bottom: 0.1rem;
  margin-top: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.1em;
  color: #7A909E;
}

h1, h2, h3, h4, h5, h6 {
  a {
    color: inherit;

    &:not([href]) {
      color: inherit;
      cursor: default;
    }
  }

  label {
    display: inline-block;
    text-transform: none;
    font-size: rem-calc(12);
    margin-right: 1em;
  }

  input[type="radio"] {
    margin-bottom: 0;
  }
}

h3 {
  border-bottom: 1px solid $iron;
  color: $steel;
  text-transform: uppercase;
}

h4 {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.9rem;
}

select {
  padding-right: 1.5em;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
}

nav#main-nav {
  @include clearfix;

  ul {
    display: inline-block;
    font-size: 9pt;

    &.right:last-child {
      margin-right: -12pt;
    }

    li {
      border-top: 2px solid transparent;
      display: inline-block;
      margin-bottom: 3px;
      padding: 4pt 12pt 3pt 12pt;
    }

  }

  a {
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
    transition: opacity 300ms ease;

    &:focus,
    &:hover {
      color: #fff !important;
      opacity: 1;
      outline: none;
    }
  }
}

p {
  margin-bottom: 0;
}

.pageWelcome {
  color: #999;
  margin: 10px 0 20px 0;
}

body.home {
  background-color: $rhz-background-color;
}

nav .home,
body.dashboard nav .dashboard,
body.data nav .data,
body.data-entry nav .data-entry,
body.admin nav .admin {
  border-top: 2px solid #ffcc67;

  a {
    opacity: 1;
  }
}

.bottom {
  position: absolute;
  bottom: 0;
}

.error {
  color: $alert-color;
  margin-top: 1.3em;
}

a {
  transition: color 300ms ease-in-out;

  &[href]:hover {
    color: $secondary-color;
  }
}

table {
  border: 1px solid #DDDDDD;
  border-collapse: collapse;
  margin-top: 10pt;
  width: 100%;

  thead {
    tr {
      th {
        color: $rhz-font-color;
        padding: 0.5rem 0.625rem 0.625rem;
        text-align: left;
        text-transform: uppercase;
        background-color: $rhz-background-color;
      }
    }
  }

  td {
    background-color: white;
    cursor: default;
    font-size: 9pt;
    padding: 3pt 0;
  }

  tbody {
    tr:not(.empty):hover {
      td {
        background-color: $ghost;
      }
    }
  }

  tfoot {
    td {
      background-color: #DDDDDD;
      padding: 0;

      &.more {
        font-size: rem-calc(10);
        text-align: center;

        &:hover {
          background-color: #DDDDDD;
        }

        a {
          color: $body-font-color;
          display: block;
          font-weight: bold;
          opacity: 0.6;

          transition: opacity 300ms ease-in-out;

          &:hover {
            color: inherit;
            opacity: 1;
          }
        }
      }
    }
  }

  .numeric {
    text-align: right;
  }

  .empty {
    td {
      background-color: transparent;
      font-size: 150%;
      padding: 2em 0;
      text-align: center;
    }
  }

  .odd {
    td {
      background-color: #f0f0f0;
    }
  }

  &.pie-charts {
    border: none;
    border-collapse: separate;
    border-spacing: 0.5em;

    margin: 0.25em 0 0.25rem 0;

    tr {
      background-color: transparent !important;

      td {
        font-size: 0.625rem;
        line-height: 1;
        padding: 0;
        vertical-align: middle;
      }
    }
  }
}

*[role="menuitem"] {
  color: $body-font-color;
  display: block;
  padding: 5pt;

  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

//button,
.button,
*[role="button"] {
  background-color: $rhz-button-bg-color;
  color: $rhz-font-color;
  text-transform: uppercase;
  font-size: 0.625rem;
  border-style: hidden;
  font-family: adelle;

  &:not(.disabled):not(.success):hover {
    background-color: #426281;
    color: $rhz-font-color;
  }

  &:focus {
    outline: none;
  }
}

.search-button {
  background-color: #FAFAFA;
  .icon {
    color: #000000;
  }
  &:not(.disabled):not(.success):hover {
    background-color: #FAFAFA;
  }
}

.button-bar {
  .button-bar__edit {
    display: inline-block;
    padding: 0 3px;
    color: white;
    font-size: 14px;
    cursor: pointer;

    &:hover {
      color: darken(white, 20%);
    }
  }
}

[class*="block-grid-"] > li {
  padding-bottom: 0;
}

.disabled {
  cursor: $button-disabled-cursor;
  opacity: $button-disabled-opacity;
}

.clickable {
  cursor: pointer;
  color: $oil;
}

.underline {
  text-decoration: underline;
}

.button.read-only {
  //border-bottom-width: 1px;
  //cursor: initial;
  color: $rhz-font-color;
  &:not(.disabled):not(.success):hover {
    //border-color: $button-border-color;
    background-color: #426281;
    color: $rhz-font-color;
  }

}

/* fixed-header tables */
.fixed-table-container {

  $defaultTableHeight: 475px;
  $defaultHeaderHeight: 50px;
  $defaultHeaderLineHeight: 25px;
  $borderColor: #ddd;

  display: inline-block; /* required to make horizontal scrolling work */
  height: $defaultTableHeight;
  background-color: white;
  position: relative; /* could be absolute or relative */
  padding-top: $defaultHeaderHeight; /* height of header */

  .fixed-table-container-inner {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    border: 1px solid $borderColor;
    border-top: none;
    border-left: none;
  }

  .header-background {
    height: $defaultHeaderHeight; /* height of header */
    background-color: #F5F5F5;
    border: solid 1px $borderColor;
    border-bottom: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  table {
    background-color: white;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: -18px 0 -1px 0;

    th {
      border-bottom: 1px solid $borderColor;
    }

    td {
      border-left: 1px solid $borderColor;
      &:first-child {
        border-left: none;
      }

      &.section-header, &.section-header:hover {
        font-size: 11px;
        background-color: #999;
        font-weight: 100;
        color: #fff;
        text-transform: uppercase;
      }
    }

    .th-inner {
      position: absolute;
      top: 1px;
      line-height: $defaultHeaderLineHeight; /* height of header */
      text-align: left;
      height: $defaultHeaderHeight;
      padding-left: 5px;
      margin-left: -10px;
      z-index: 900;

      border-left: 1px solid $borderColor;
      background-color: #F5F5F5;

      /* to hide overflow text, and then reveal on hover: */
      white-space: nowrap;
      overflow-x: hidden;
      &:hover {
        overflow-x: visible;
        z-index: 1000;
        width: auto;
        padding-right: 10px;
      }
    }
    th:first-child .th-inner {
      border-left: none;
    }

  }

}

.statusText-good {
  color: #29A13A;
}

.statusText-okay {
  color: rgb(242, 129, 0);
}

.statusText-bad {
  color: #EC1C24;
}

.hidden {
  visibility: hidden;
}

.login {
  background-color: $oil;

  .wrapper {
    background: url('../img/RhizomeLogoWhite.png') no-repeat top center;
    padding-top: 150px;
    margin: 70pt auto;

    p {
      color: white;
      max-width: 45em;
      text-align: center;
      font-size: 1.1em;
      margin: 0 auto 30px auto;
    }
  }

  form {
    max-width: 300px;
    margin: 0 auto;

    label {
      color: $white;
    }

    input {
      width: 100%;
    }
  }
}

svg {
  width: 100%;
}

.pagination {
  a {
    display: inline-block;
    font-size: 9pt;
    padding: 2pt;

    &.current {
      background-color: $primary-color;
      color: #fff;
    }

    &:hover {
      background-color: $secondary-color;
      color: #fff;
    }
  }
}

.highlight {
  color: $secondary-color;
  font-weight: bold;
}

ul {
  &.pie {
    list-style: none;
    padding-left: 16pt;
    margin: 0;

    li {
      font-size: 8px;
      line-height: 1;
      margin-bottom: 2pt;
      padding-top: 3pt;
    }

    div.chart {
      display: inline-block;
      float: left;
      margin-left: -14pt;
      margin-top: -2px;
      max-width: 12pt;
    }
  }
}

.transit-points {
  .chart {
    svg {
      height: 22pt;
      width: 22pt;
    }
  }
}

.tooltip {
  color: white;
  margin: 10px;
  z-index: 9999;

  display: inline;
  width: auto;

  h1, h2, h3, h4, h5, h6 {
    border: none;
    color: inherit;
  }

  p {
    color: inherit;
    font-size: .625rem;

    table {
      display: inline-block;
      float: left;
      margin: 0 1em 0 0;
    }
  }

  table {
    background-color: transparent;
    border-top: 1px solid $steel;
    border-left: none;
    border-right: none;
    border-bottom: none;
    min-width: 0;
    table-layout: auto;
    width: initial;

    tr {
      background-color: transparent;
      padding: 0 0.5em;
    }

    td, th {
      background-color: transparent;
      border-bottom: 1px solid $steel;
      color: inherit;
      font-size: .625rem;
      padding: 0.1em;
    }
  }

  svg {
    .bg {
      fill: transparent;
    }
  }
}

.inline {
  display: block;
}

.menu-button {
  font-size: 1rem;
  color: $rhz-font-color;

  .fa-circle {
    color: $button-border-color;
    //text-shadow: 0 2px #667c89;
  }

  .fa-circle-thin {
    color: $button-border-color;
  }

  &:active {
    .fa-circle {
      text-shadow: 0 1px #667c89;
    }
  }
}

.menu {
  &:focus {
    outline: none;
  }

  .background {
    border: 1px solid #ddd;

    .arrow {
      border-bottom-color: $gainsboro !important;
    }
  }

  li.campaign {
    .office {
      color: $jumbo;
      font-weight: bold;
    }
  }

  hr {
    margin: 0
  }
}

.menu {
  *[role="search"] {
    input {
      background-color: $vapor;
    }
  }
}

.inverse {
  background-color: $gainsboro;
  color: $body-font-color;
  padding: 0.2em 0.7em;
}

.indicator-ranges {
  tbody {
    th {
      padding-right: 1em;
    }
  }
}

@media #{$small-up} {
  .small {
    &.inline {
      display: inline-block;
    }
  }
}

@media #{$medium-up} {
  .medium {
    &.inline {
      display: inline-block;
    }
  }
}

@media #{$large-up} {
  .large {
    &.inline {
      display: inline-block;
    }
  }
}

.overlay {
  background-color: transparentize($ghost, 0.3);
  color: $aluminum;
  opacity: 1;
  text-align: center;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  //z-index: 9996;

  & > div {
    display: table;
    width: 100%;
    height: 100%;

    & > div {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .empty {
    color: #B9C3CB;
    padding: 0;
    background-color: transparent;
    text-transform: uppercase;
  }
}

.cd-charts {
  margin: 0 0 115px 0;
}

.all-dashboard {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px;
}

@import "footer";
