{% extends "datapoints/base.html" %}

{% block content %}
    {% if user_dashboard %}
    <table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>region</th>
            <th>indicator</th>
            <th>value</th>
           <!--  <th>Reporting Period</th>
            <th>Value</th>
            <th>Note</th>
            <th>Edit</th> -->
        </tr>
    </thead>

        {% for item in user_dashboard %}
        <tr>

            <th>{{ item.2 }}</th>
            <th>{{ item.1 }}</th>
            <th>{{ item.0 }}</th>
            <!-- <th>{{ datapoint.reporting_period }}</th> -->
            <!-- <th>{{ datapoint.value }}</th> -->
            <!-- <th>{{ datapoint.note }}</th> -->
        </tr>
        {% endfor %}

    </table>
{% else %}
    <p>No datapoints are available.</p>
{% endif %}


{% endblock %}