{% extends "datapoints/base.html" %}
{% block content %}

<h3>ID: {{ source_indicator.id }}</h3>
<h3>Indicator String: {{ source_indicator.indicator_string }}</h3>
<h3>Source: {{ source_indicator.source }}</h3>
<h3>Status: {{ source_indicator.mapped_status }}</h3>


<!-- if status is to_map  -->
{% if source_indicator.mapped_status = 'TO_MAP' %}
  <a href="{% url 'source_data:map_indicator' %}"<button type="submit" class="btn btn-primary"> Map it! </button></a>
  <a href="/"<button type="submit" class="btn btn-danger"> Ingore </button></a>

{% elif source_indicator.mapped_status = 'MAPPED' %}
  <a href="/"<button type="submit" class="btn"> Change Mapping </button></a>
  <!-- <a href="{% url 'datapoints:update_datapoint' datapoint.id %}"> Edit </a>< -->

  <a href="{% url 'source_data:map_indicator' %}"<button type="submit" class="btn btn-danger"> Un Map </button></a>
{% elif source_indicator.mapped_status = 'MAPPING_IGNORED' %}
  <a href="/"<button type="submit" class="btn"> Add Mapping </button></a>
{% endif %}

{% endblock %}
