{% extends "datapoints/base.html" %}

{% block content %}
    <br><br>

    {% if items %}
    <table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Indicator String</th>
            <th>Source</th>
            <th>Map It!</th>

        </tr>
    </thead>

        {% for item in items %}
        <tr>
            <th>{{ item.indicator_string }}</th>
            <th>{{ item.source }}</th>
            <th><a href="{% url 'source_data:map_indicator' item.id %}"<button type=\
                "submit" class="btn btn-primary btn-sm"> Map it! </button></a></th>
        </tr>
        {% endfor %}
    </table>


{% else %}
    <p> everything is mapped </p>
{% endif %}

{% endblock %}
