{% extends "datapoints/base.html" %}

{% block content %}
    <br><br>

    {% if items %}
    <table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Source String</th>
            <th>Model</th>
            <th>Source</th>
            <th>Map It!</th>

        </tr>
    </thead>



        {% for item in items %}


        {% if item.indicator_string %}

            <tr>
                <th>{{ item.indicator_string }}</th>
                <th>Indicator</th>
                <th>{{ item.source }}</th>
                <th><a href="{% url 'source_data:map_indicator' item.id %}"<button type=\
                    "submit" class="btn btn-primary btn-sm"> Map it! </button></a></th>
            </tr>

        {% elif item.region_string %}

            <tr>
                <th>{{ item.region_string }}</th>
                <th>Region</th>
                <th>{{ item.source }}</th>
                <th><a href="{% url 'source_data:map_region' item.id %}"<button type=\
                    "submit" class="btn btn-primary btn-sm"> Map it! </button></a></th>
            </tr>

        {% elif item.campaign_string %}

            <tr>
                <th>{{ item.campaign_string }}</th>
                <th>Campaign</th>
                <th>{{ item.source }}</th>
                <th><a href="{% url 'source_data:map_campaign' item.id %}"<button type=\
                    "submit" class="btn btn-primary btn-sm"> Map it! </button></a></th>
            </tr>

        {% endif %}


        {% endfor %}
    </table>


{% else %}
    <p> everything is mapped </p>
{% endif %}

{% endblock %}
