<table>
	<thead v-if="rows.length > 0">
		<tr>
			<th v-repeat="col: columns" class="{{ col | classes }}">{{ col | header }}</th>
		</tr>
	</thead>
	<tbody>
		<tr v-repeat="rows" v-class="odd : $index | isOdd">
			<td v-repeat="col: columns" class="{{ col | classes }}">{{ col | cell }}</td>
		</tr>
		<tr v-if="rows.length < 1" class="empty">
			<td colspan="{{ columns.length }}">
				<span v-if="loading">Loading&hellip;</span>
				<span v-if="!loading">No data.</span>
			</td>
		</tr>
	</tbody>
</table>
