.admin-container {
	margin: 20px;
}
ul.admin-nav {
	margin-left: 0;

	li {
		list-style-type: none;
		font-size: 13pt;
		display: inline-block;
		margin: 10px 4px 10px 0;
		padding: 8px;
		background: #f0f0f0;
	}
}
