$bg-color: #f2f2f2;

svg {
	overflow: visible;

	.bg {
		fill: $bg-color;
	}

	.axis {
		line {
			fill: none;
			stroke: $white;
			stroke-width: 1px;
			shape-rendering: crispEdges;
		}

		text {
			font-family: $font-family-sans-serif;
			font-size: $axis-font-size;
			fill: $oil;
			stroke: none;

			&.annotation {
				fill: $smoke;
			}
		}

		.domain {
			fill : none;
		}

		&.x {
			.domain {
				stroke-width : 2px;
				stroke       : $iron;
			}

			line {
				display: none;
			}
		}

		&.y {
			.domain {
				display : none;
			}
		}
	}

	&.line {
		path {
			fill         : none;
			stroke       : inherit;
			stroke-width : 2px;
		}

		circle {
			fill         : inherit;
			stroke       : $white;
			stroke-width : 1px;
		}
	}

	&.spaghetti {
		path {
			fill            : none;
			shape-rendering : crispEdges;
			stroke          : inherit;
			stroke-width    : 2px;
		}
	}

	.area,
	.layer {
		fill: $iron;
		fill-opacity: 0.6;
	}

	.bar {
		text{
			font-size: rem-calc(9);
		}
	}

	&.bullet {
		rect {
			shape-rendering: crispEdges;
			stroke: none;
		}

		.value,
		.marker {
			fill: $coolgray5;
		}

		.ranges {
			.range-label {
				fill: #666666;
			}
		}

		.label {
			text-shadow: none;
			fill       : $white;

			&.dark {
				fill: $oil;
			}
		}
	}

	.point {
		fill: $white;
		stroke-width: 1px;
	}

	.hover-tile {
		fill-opacity: 0;
		stroke: none;
	}

	.hover-line {
		stroke: $oil;
		shape-rendering: crispEdges;
	}

	.region {
		fill: $white;
		stroke: $aluminum;
		stroke-width: 1px;
	}

	.clickable {
		cursor: pointer;
	}

	.label {
		text-shadow: $legibility-shadow;
	}
}

.choropleth {
	position: relative;
}

.reds {
	.q-1 {
		background-color: $red1;
		fill: $red1;
	}

	.q-2 {
		background-color: $red2;
		fill: $red2;
	}

	.q-3 {
		background-color: $red3;
		fill: $red3;
	}
	.q-4 {
		background-color: $red4;
		fill: $red4;
	}

	.q-5 {
		background-color: $red5;
		fill: $red5;
	}

	.q-6 {
		background-color: #2D2525;
		fill: #2D2525;
	}
}

.chart {
	position: relative;

	.overlay {
		background-color: transparentize($ghost, 0.3);
		color: $aluminum;
		opacity: 1;
		transition: opacity 300ms ease;

		display: table;
		position: absolute;
		top: 0;
		left: 0;

		&.fade-enter,
		&.fade-leave {
			opacity: 0;
		}

		&>div {
			display: table-cell;
			vertical-align: middle;
			text-align: center;
		}
	}

	&.bar {
		.x.axis {
			line {
				display : inline;
				stroke  : $smoke;
			}
		}
	}
}

.legend {
	font-size: rem-calc(9);
	list-style: none;
	margin: 0;

	.key {
		display: inline-block;
		position: relative;
		width: 1.2em;
		height: 1.2em;
		margin-right: 0.2em;
		margin-bottom: -0.2em;
	}

	&.interactive {
		.series {
			cursor : pointer;
		}
	}

	rect {
		shape-rendering : crispEdges;
		stroke-width    : 2;
		stroke-location : inside;
	}
}

// Bullet chart coloring
.bad {
	h6 {
		color: $down-color;
		font-weight: bold;
	}

	.bullet {
		.value,
		.marker {
			fill: $down-color;
		}
	}
}

.good {
	h6 {
		color: $up-color;
	}

	svg.bullet {
		.value,
		.marker {
			fill: $up-color;
		}
	}
}

.labeled-donut {
	position : relative;

	.donut-label {
		position    : absolute;
		top         : 50%;
		right       : 0;
		left        : 0;
		margin-top  : -0.8em;

		font-size   : rem-calc(24);

		text-align  : center;

		label {
			font-size: 0.25em;
		}
	}
}

.grouped-bar,
.stacked-bar {
	.data {
		fill : #414849;
	}

	.axis {
		&.x {
			.domain {
				display : none;
			}

			.tick {
				line {
					display : inline;
					stroke  : $white;
				}
			}
		}

		&.y {
			text {
				text-shadow: $legibility-shadow;
			}
		}
	}
}

.heatmap {
	border          : none;
	border-collapse : separate;
	margin-top      : 16em;

	thead {
		th {
			font-size        : rem-calc(10);
			font-weight      : normal;
			max-width        : 1rem;
			transform-origin : left bottom;
			transform        : translateX(1rem) rotate(-45deg);
			white-space      : nowrap;
		}
	}

	tr {
		background-color: #fff !important;

		td, th {
			font-weight : normal;
			height      : 1rem;
			padding     : 0;
			margin      : 0;
			white-space : nowrap;

			&.cell {
				max-width : 1rem;
			}
		}

	}
}

#nco-dashboard {
	.bar.chart {
		rect {
			cursor : pointer;
		}
	}

	.scatter {
		.point {
			cursor : pointer;
		}
	}
}
