/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "settings";
@import "foundation";

@import "compass/utilities/general/clearfix";

@import "forms";
@import "charts";

body {
	background-color: $white;
}

header {
	background-color: $gainsboro;
	padding-left: 10pt;
	padding-right: 10pt;

	h1 {
		float: left;
		padding: 10pt 20pt 10pt 0;
	}
}

h3 {
	border-bottom: 1px solid $gainsboro;
	color: $gainsboro;
	text-transform: uppercase;
}

h4 {
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
}

nav {
	@include clearfix;

	ul {
		float: left;
		list-style: none;
		margin: 0;

		&.right:last-child {
			margin-right: -12pt;
		}

		li {
			display: inline-block;
			padding: 16pt 12pt 12pt;

			&:first-child {
				padding-left: 0;
			}
		}

	}

	a {
		color: #333;
		text-decoration: none;
	}
}

body.dashboard nav .dashboard,
body.data nav .data {
	background: #cbcbcb;
	border-bottom: 4px solid #333;
}

.error {
	color: $alert-color;
	margin-top: 1.3em;
}

table {
	border-collapse: collapse;
	font-family: Hevetica, Arial, sans-serif;
	margin-top: 10pt;
	min-width: 100%;

	th {
		font-family: Hevetica, Arial, sans-serif;
		padding: 5pt 0;
		text-align: left;
	}

	td {
		background-color: white;
		cursor: default;
		font-size: 9pt;
		padding: 3pt 0;

	}

	.numeric {
		text-align: right;
	}

	.empty {
		td {
			background-color: transparent;
			font-size: 150%;
			padding: 2em 0;
			text-align: center;
		}
	}

	.odd {
		td {
			background-color: #f0f0f0;
		}
	}

	tr:not(.empty):hover {
		td {
			background-color: $ghost;
		}
	}

}

*[role="menuitem"] {
	&:hover {
		background-color: $primary-color;
		color: white;
	}
}

button, .button {
	@include button($radius: true);
}

[class*="block-grid-"] > li {
	padding-bottom: 0;
}

.disabled {
	cursor: $button-disabled-cursor;
	opacity: $button-disabled-opacity;
}

/* fixed-header tables */
.fixed-table-container {

	$defaultTableHeight: 500px;
	$defaultHeaderHeight: 50px;
	$defaultHeaderLineHeight: 25px;
	$innerBorderColor: #ddd;

	height: $defaultTableHeight;
	background-color: white;
	position: relative; /* could be absolute or relative */
	padding-top: $defaultHeaderHeight; /* height of header */

	.fixed-table-container-inner {
		overflow-x: hidden;
		overflow-y: auto;
		height: 100%;
	}

	.header-background {
		height: $defaultHeaderHeight; /* height of header */
		background-color: #F5F5F5;
		border: solid 1px #DDDDDD;
		border-bottom: none;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
	}

	table {
		background-color: white;
		width: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		margin-top: -18px;
	}

	td {
		border-left: 1px solid $innerBorderColor;
		&:first-child {
			border-left: none;
		}
	}

	.th-inner {
		position: absolute;
		top: 1px;
		line-height: $defaultHeaderLineHeight; /* height of header */
		text-align: left;
		height: $defaultHeaderHeight + 1px;
		padding-left: 5px;
		margin-left: -10px;
		z-index: 900;

		border: 1px solid $innerBorderColor;
		border-top: none;
		border-right: none;
		background-color: #F5F5F5;
		
		/* to hide overflow text, and then reveal on hover: */
		white-space: nowrap;
		overflow-x: hidden;
		&:hover {
			overflow-x: visible;
			z-index: 1000;
			width: auto;
			padding-right: 10px;
		}
	}
	.first .th-inner {
		border-left: none;
		padding-left: 6px;
	}

}

