/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "settings";
@import "foundation";

@import "compass/utilities/general/clearfix";

@import "forms";

header {
  background-color: #ddd;
  padding-left: 10pt;
  padding-right: 10pt;

  h1 {
    float: left;
    padding: 10pt 20pt 10pt 0;
  }
}

nav {
  @include clearfix;

  ul {
    float: left;
    list-style: none;
    margin: 0;

    &.right:last-child {
      margin-right: -12pt;
    }

    li {
      display: inline-block;
      padding: 16pt 12pt 12pt;

      &:first-child {
        padding-left: 0;
      }
    }

  }

  a {
    color: #333;
    text-decoration: none;
  }
}

body.dashboard nav .dashboard,
body.data nav .data {
  background: #cbcbcb;
  border-bottom: 4px solid #333;
}

.error {
  color: $alert-color;
  margin-top: 1.3em;
}

table {
  border-collapse: collapse;
  font-family: Verdana, Hevetica, Arial, sans-serif;
  margin-top: 10pt;
  min-width: 100%;

  th {
    font-family: Hevetica, Arial, sans-serif;
    padding: 5pt 0;
    text-align: left;
  }

  td {
    background-color: white;
    cursor: default;
    font-size: 9pt;
    padding: 3pt 0;

  }

  .numeric {
    text-align: right;
  }

  .empty {
    td {
      background-color: transparent;
      font-size: 150%;
      padding: 2em 0;
      text-align: center;
    }
  }

  .odd {
    td {
      background-color: #f0f0f0;
    }
  }

  tr:not(.empty):hover {
    td {
      background-color: $ghost;
    }
  }
}

*[role="menuitem"] {
  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

button, .button {
  @include button($radius: true);
}
