.field-mapping-container {
	width: 700px; 
	margin: 30px auto;
	.row {
	  .arrow-container {
	  	text-align: center;
	  }
	  .columns .indicator-verification {
	  	line-height: 35px;
	  	float: right
	  }
	  .check-column {
	      text-align: left;
	      padding-left: 0;
	  }
	}
	.footer-row {
		padding-top: 20px;
		.columns { 
		     .warning-div {
		     	font-size: 14px;
		     	.warning-sub {
		     	  font-size: 20px;
		     	  line-height: 40px;
		     	}
		     }
		}
		.cancel-column {
			font-size: 14px;
			padding-left: 0px;
			  padding-top: 9px;
		}
	}
}

.field-menu-container {
	width: 100%;
}