.field-mapping-container {
	width: 700px; 
	margin: 30px auto;
	.row {
	  .arrow-container {
	  	text-align: center;
	  }
	  .columns .indicator-verification {
	  	line-height: 35px;
	  	float: right
	  }
	}
}

.field-menu-container {
	width: 100%;
}