<form class="inline field-mapping-container">
<h1>FIELD MAPPING</h1>
<template v-repeat="type:mappingData">
  <div class="row">
    <div class="small-6 columns">
      <h2> {{$key | capitalize}} </h2> 
    </div>
    <div class="small-6 columns indicator-verification">
     <h4 style="float: right;">{{remainingVerifications[$key]}}/{{mappingData[$key].length}} {{$key}} need verification </h4>
    </div>
  </div>  
  <div v-repeat="field:type" class="row">
    <div class="small-5 columns">
      <a role="button" class="button">
        {{field.source_string}}
      </a>
    </div>
    <div class="small-1 columns arrow-container">
      <i class="fa fa-arrow-right fa-3x"></i>
    </div>
    <div class="small-6 columns">
      <div id="{{$key}}{{field.source_id}}"
      			 placeholder="Search {{$key | capitalize}}"
      			 searchable="true"></div>
      </div>
    </div> 
</template>
</form>


