.datapoint-table.ag-fresh {
	.ag-header {
		background: white;
	}
	.ag-body {
		background: white;
	}
	.ag-header-cell-resize {
		display: none;
	}
	.ag-header-cell-label {
    text-overflow: clip;
    overflow: hidden;
    white-space: normal;
	}
	.ag-row, .ag-header-row {
		display: table;
	}
	.ag-cell, .ag-header-cell {
		display: table-cell;
    position: static;
		vertical-align: middle;
	}
	.ag-cell input[type='text'] {
		margin: 0;
		padding: 0;
		padding-left: .5rem;
		height: 1.9rem;
		font-size: 1rem;
		text-align: center;
	}
}
