.datapoint-table {
	.ag-header-cell-label {
    text-overflow: clip;
    overflow: hidden;
    white-space: normal;
	}
	.ag-fresh .ag-cell {
		display: table-cell;
    position: static;
		vertical-align: middle;
	}
	.ag-fresh .ag-row {
		display: table;
	}
	.ag-cell input[type='text'] {
		margin: 0;
		padding: 0;
		padding-left: .5rem;
		height: 1.9rem;
		font-size: 1rem;
		text-align: center;
	}
}
