.Python
env
lib
include
.DS_Store
*.pyc
*.pyo
*.jar
*.zip
/venv
.coverage
/htmlcov
/media
/docs/_build
/docs/_static
/docs/_templates
/source_data/prod_odk_settings.py
/source_data/dev_odk_settings.py
/viz
/bower_components
/build
/dist
node_modules
*.swp
.sass-cache
*.sublime-*
.idea/
.htaccess
sql_backups
db.sql
/geo
datapoints/sql/polio/public
static/odk_source
polio/secrets.py
*~
**/#*#
static/Polio.map.json
static/lib.js
static/lib.map.json
*target_natreg.csv
concat_csv.py
source_data/ODK/odk_source
