.Python
env
bin
lib
include
.DS_Store
*.pyc
*.pyo
*.jar
/venv
.coverage
/htmlcov
/media
/docs/_build
/docs/_static
/docs/_templates
/static
/source_data/etl_tasks/prod_odk_settings.py
/source_data/etl_tasks/dev_odk_settings.py
