Django==1.8.3
coverage==3.7.1
django-autoslug==1.8.0
django-simple-history==1.6.3
django-tastypie==0.12.2
jsonfield==1.0.3
numpy==1.9.2
pandas==0.16.2
psycopg2==2.6.1
python-dateutil==2.4.2
python-mimeparse==0.1.4
pytz==2015.4
six==1.9.0
wsgiref==0.1.2
