chardet==2.2.1
coverage==3.7.1
Django==1.6.5
django-admin-bootstrapped==1.6.5
django-appconf==0.6
django-autoslug==1.7.2
django-csvimport==1.0
django-debug-toolbar==1.2.2
django-decorator-include==0.1
django-discover-runner==1.0
django-guardian==1.2.4
django-simple-history==1.5.0
django-stronghold==0.2.6
django-tables2==0.15.0
django-tastypie==0.11.1
docutils==0.12
flake8==2.3.0
httplib2==0.9
Jinja2==2.7.3
jsonfield==1.0.0
MarkupSafe==0.23
mccabe==0.3
numpy==1.8.2
pandas==0.14.1
pep8==1.6.1
psycopg2==2.5.3
pyflakes==0.8.1
Pygments==1.6
python-dateutil==2.2
python-mimeparse==0.1.4
pytz==2014.4
requests==2.3.0
six==1.7.3
South==1.0
Sphinx==1.2.2
sqlparse==0.1.14
xlrd==0.9.3
