{% extends "datapoints/base.html" %}

{% block content %}
    {% if top_indicator_relationships %}
    <table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>indicator 0</th>
            <th>relationship type</th>
            <th>indicator 1</th>
            <th>details</th>
        </tr>
    </thead>

        {% for indicator_relationship in top_indicator_relationships %}
        <tr>
            <th>{{ indicator_relationship.id }}</th>
            <th>{{ indicator_relationship.indicator_0 }}</th>
            <th>{{ indicator_relationship.indicator_relationship_type }}</th>
            <th>{{ indicator_relationship.indicator_1 }}</th>
            <th><a href="{% url 'datapoints:indicator_relationship_detail' indicator_relationship.id %}"> view </a></th>
        </tr>
        {% endfor %}

    </table>
{% else %}
    <p>No Indicator Relationships are available.</p>
{% endif %}
    <div align="right">
    <a href="/datapoints/indicator_relationships/create" <button type="submit" class="btn btn-primary"> Create New Indicator Relationship </button></a>
    </div>

{% endblock %}