<div v-show="loaded" style="display:none;">

	<form class="inline">
		<div class="row">

				<div class="medium-2 columns">
					<label for="sets">Indicator Set</label>
					<select id="sets" v-model="indicator_set_id" options="indicator_sets"></select>
				</div>

				<div class="medium-2 columns">
					<label for="campaigns">Campaign</label>
					<select id="campaigns" v-model="campaign_id" options="campaigns"></select>
 				</div>

				<div class="medium-2 columns">
					<label for="locations">locations</label>
					<div id="locations"
							 placeholder="0 selected"
							 multi="true"
							 searchable="true"></div>
				</div>

				<div class="medium-2 columns">
					&nbsp;<br>
					<label>
						<input type="checkbox" v-model="includeSublocations" />
						Include Sublocations
					</label>
				</div>

				<div class="medium-2 columns">
					<!-- FIXME: Remove blank line for alignment -->
					&nbsp;<br>
					<a class="button primary" role="button" v-on="click : refresh" v-class="disabled: !hasSelection">
						<i class="fa fa-fw fa-refresh" v-class="fa-spin : table.loading"></i>&emsp;Load Entry Form
					</a>
				</div>
		</div>
	</form>

	<div class="row">
		<div class="small-12 columns">
			<h2 v-if="noEditableSets">You do not have permission to enter data for any indicators in sets.</h2>
			<vue-table-editable v-if="!noEditableSets" v-with="table"></vue-table-editable>
		</div>
	</div>

</div>
