.user-account-container {
	width: 700px; 
	margin: 30px auto;
	.row {
		.left-box {
		  text-align: right;
		  .label-box {
		    background-color: #eee;
		    border-color: #ddd;
		    padding: 5px;
		    text-align: left;
		  }
		
		}
		.right-box {
		    .location-table {
		      margin-top: 0px;
		      border: none;
		      thead {
		        background-color: #fff;
		      }
		      tbody tr td {
		        input[type="checkbox"] {
		        	margin-bottom: 0px;
		        }
		        span.fa {
		        	cursor: pointer;
		        }	
		      }
		    }
			.user-roles {
			  list-style: none;
			  margin-left: 0px;
			  li .roll-title {
			    padding-left: 5px;
			  }
			}
		}
	}
/*	.row {
	  .arrow-container {
	  	text-align: center;
	  }
	  .columns .indicator-verification {
	  	line-height: 35px;
	  	float: right
	  }
	  .check-column {
	      text-align: left;
	      padding-left: 0;
	      padding-top: 3px;
	  }
	}
	.footer-row {
		padding-top: 20px;
		.columns { 
		     .warning-div {
		     	font-size: 14px;
		     	.warning-sub {
		     	  font-size: 20px;
		     	  line-height: 40px;
		     	}
		     }
		}
		.cancel-column {
			font-size: 14px;
			padding-left: 0px;
			  padding-top: 9px;
		}
	}*/
}
