
  <div class="row" style="margin-bottom: 15px;">
     <div class="columns small-4 left-box">
       <h4>Roles</h4>
	     <div class="label-box">
	     Roles determine what functions this user can perform and which indicators for which they can enter data. All users can consume data (see dashboards and explore with data browser), as long as they have locational permission to do so
	     </div>
     </div>
     <div class="columns small-8 right-box">
       <ul class="user-roles">
         <li v-repeat="group:groups"><input type="checkbox" v-model="group.active" data-group-id="{{group.id}}" v-on="change:addRemoveUserGroup" /> <span class="roll-title">{{group.name}}</span> </li>
       </ul>
     </div>
  </div>

  <div class="row">
     <div class="columns small-4 left-box">
       <h4>Responsible For Location: </h4>
     </div>
     <div class="columns small-8 right-box">
       <div
        	id="locations"
        	data-change-event="field-selected"
        	data-searchable="true"
        	full-size-menu="true"
        	style="width: 150px;"
        	>
             <a class="button">
             {{top_lvl_location_name}}
             </a>
            <br>
       </div>
     </div>
  </div>
</div>
