
  <div class="row" style="margin-bottom: 15px;">
     <div class="columns small-4 left-box">
       <h4>Roles</h4>
	     <div class="label-box">
	     Roles determine what functions this user can perform and which indicators for which they can enter data. All users can consume data (see dashboards and explore with data browser), as long as they have locational permission to do so
	     </div>
     </div>
     <div class="columns small-8 right-box">
       <ul class="user-roles">
         <li v-repeat="group:groups"><input type="checkbox" v-model="group.active" data-group-id="{{group.id}}" v-on="change:addRemoveUserGroup" /> <span class="roll-title">{{group.name}}</span> </li>
       </ul>
     </div>
  </div>

  <div class="row">
     <div class="columns small-4 left-box">
       <h4>Responsible For Location:</h4>
     </div>
     <div class="columns small-8 right-box">
       <div
        	id="locations"
        	data-change-event="field-selected"
        	data-searchable="true"
        	full-size-menu="true"
        	style="width: 150px;"
        	>
             <a class="button">
             Add a location...
             </a>
       </div>
     </div>
  </div>
  <div class="row">
     <div class="columns small-4 left-box">
       <div class="label-box">
         This user is responsible for the below locations:<br /><br />
         Data assigned to the location is their responsibility, even if it is aggregated from lower adminstrative levels.
         </div>
       </div>
       <div class="columns small-8 right-box">
         <table class="location-table">
             <thead>
                 <tr>
                     <th></th>
                     <th style="width: 70px;">Remove</th>
                 </tr>
             </thead>
            <tbody>
	            <tr v-repeat="permission:location_responsibilities">
	              <td>
	               {{permission.name}}
	              </td>
	              <td>
	                <input type="checkbox" data-internal-id="{{permission.id}}" data-location-id="{{permission.location_id}}" v-on="change:updatelocationalAccessCanRead" v-model="permission.canEnter" />
	              </td>
	              <td>
	                <span v-on="click:deletelocationalAccess(permission.location_id)" class="fa fa-times"></span>
	              </td>
	            </tr>
	            <tr v-if="locationalAccessLoading"><td colspan="3"><span class="fa fa-fw fa-lg fa-spinner fa-spin"></span></td></tr>
	            <tr v-if="location_permissions && location_permissions.length==0"><td colspan="3">No locations added</td></tr>
            </tbody>
         </table>

       </div>
    </div>

  </div>
