{% extends "base.html" %}



{% block content %}

    <button> <a href="#"> FInd Bad Data! </a></button>
        <br>
        <br>

        <div align="center">
        </div>


        <br>

        {% if dp_data %}
        <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Error Type</th>
                <th>Document ID</th>
                <th>Fix!</th>
            </tr>
        </thead>

            {% for dp in dp_data %}
            <tr>
                <th>{{ dp.id }}</th>
                <th>{{ dp.error_type }}</th>
                <th>{{ dp.doc_id }}</th>
                <th><a href="#"> Fix! </a></th>

            </tr>
            {% endfor %}

        </table>

    {% else %}
        <p>No Bad Data!.</p>
    {% endif %}

{% endblock %}
