{% extends "datapoints/base.html" %}



{% block content %}

    <button> <a href="{% url 'datapoints:refresh_cache' %}"> Refresh Cache </a></button>

    <table>
    <thead>
        <tr>
            <th>task name</th>
            <th>run task</th>
            <th>date completed</th>
        </tr>
    </thead>

        <tbody>
        {% for cache_job in cache_jobs %}
        <tr>
            <th>{{ cache_job.id }}</th>
            <th>{{ cache_job.response_msg }}</th>
            <th>{{ cache_job.date_completed }}</th>
        </tr>
        {% endfor %}

       </tbody>

    </table>

{% endblock %}
