{% extends "datapoints/base.html" %}


{% block content %}

  <div align='center'>
    <h2>REGION ID: {{region_id}}</h2>
    <h2>CAMPAIGN ID: {{campaign_id}}</h2>
    <h2>INDICATOR ID: {{indicator_id}}</h2>
    <h2>EXPECTED VALUE: {{expected_value}}</h2>
  </div>
    <table>
    <thead>
        <tr>
            <th>region_id</th>
            <th>campaign_id</th>
            <th>indicator_d</th>
            <th>expecte_value</th>

        </tr>
    </thead>
    <tbody>
    {% for missing in missing_data %}
    <tr>
            <th>{{ missing.region_id }}</th>
            <th>{{ missing.campaign_id }}</th>
            <th>{{ missing.indicator_id }}</th>
            <th>{{ missing.target_value }}</th>

    </tr>

    </tbody>
    {% endfor %}
    </table>

{% endblock %}
