{% extends "datapoints/base.html" %}



{% block content %}

    <div align="center">



    <h3> QA Score {{ qa_score }}</h3>
    </div>
    FAILED CALLS BY INDICATOR
    <table>
    <thead>
        <tr>
            <th> Indicator ID </th>
            <th> Calls Failed </th>
        </tr>
    </thead>
    {% for row in indicator_breakdown %}
    <tr>

        <tr>
            <th>{{ row.indicator_id }}</th>
            <th>{{ row.count_missed }}</th>
        </tr>

    {% endfor %}
    </table>

    ALL FAILED CALLS
    <table>
    <thead>
        <tr>
            <th> Region ID </th>
            <th> Campaign ID </th>
            <th> Indicator ID </th>
            <th> Expected Value </th>
            <th>computed_value</th>
            <th> Passed </th>


        </tr>
    </thead>
    {% for row in qa_data %}
    <tr>

        <tr>
            <th>{{ row.region_id }}</th>
            <th>{{ row.campaign_id }}</th>
            <th>{{ row.indicator_id }}</th>
            <th>{{ row.value }}</th>
            <th>{{ row.computed_value }}</th>
            <th>{{ row.passed }}</th>
        </tr>

    {% endfor %}
    </table>

{% endblock %}
