{% extends "base.html" %}
{% block content %}


<form action = "" method = "post" class="form inline user-account-container">
	<h2>Edit User</h2>
  {% csrf_token %}
  <p>username : {{ form.username }}</p>
  <p>first name : {{ form.first_name }}</p>
  <p>last name : {{ form.last_name }}</p>

  <div v-component="uf-user-account" v-with="user_id:user_id"></div>
  <button type="submit" class="btn btn-primary"> Submit </button>
</form>

 

{% endblock %}

{% block scripts %}
<script>
Polio.UserAccount('#main',{{user_id}});
</script>
{% endblock %}

