{% extends "base.html" %}
{% block content %}
    <form action="" method="post" class="form inline user-account-container admin-notify-error-form">
        <h2>Edit User</h2>
        {% csrf_token %}
        {% if form.errors %}
            <span class="error">An error occurred ...</span>
            <div class="notify-flat-error">
            {{form.errors}}
            </div>
        {% endif %}

        <div class="row">
            <div class="columns small-4 left-box">
                <h4> username</h4>
            </div>
            <div class="columns small-8 right-box">
                {{ form.username }}
            </div>
        </div>
        <div class="row">
            <div class="columns small-4 left-box">
                <h4> first name</h4>
            </div>
            <div class="columns small-8 right-box">
                {{ form.first_name }}
            </div>
        </div>
        <div class="row">
            <div class="columns small-4 left-box">
                <h4> last name</h4>
            </div>
            <div class="columns small-8 right-box">
                {{ form.last_name }}
            </div>
        </div>

        <div class="row">
            <div class="columns small-4 left-box">
                <h4> Email</h4>
            </div>
            <div class="columns small-8 right-box">
                {{ form.email }}
            </div>
        </div>

        <div class="row">
            <div class="columns small-4 left-box">
                <h4>Admin Level Permission</h4>
            </div>
            <div class="columns small-8 right-box">
                {{ form.location_type }}
            </div>
        </div>

        <div v-component="uf-user-account" v-with="user_id:user_id"></div>

        <div class="row">
            <div class="columns small-4 left-box">
                &nbsp;
            </div>
            <div class="columns small-4 right-box">
                <button type="submit" class="btn btn-primary"> Submit</button>
            </div>
            <div class="columns small-4">
                &nbsp;
            </div>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        Polio.UserAccount('#main', {{user_id}});
    </script>
{% endblock %}
