{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <title>Polio Data Management App</title>
</head>

<body>
    <div class="container">
          <!-- Static navbar -->
          <div class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">POLIO </a>


              </div>
              <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="/datapoints">Datapoints</a></li>
                  <li><a href="datapoints/indicators">Indicators</a></li>
                  <li><a href="/datapoints/regions">Regions</a></li>
                  <!-- <img src="http://www.picgifs.com/graphics/u/unicef/graphics-unicef-842824.gif" width="5%" height="5%"/> -->
                </ul> 
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/admin">Admin</a></li>
                  <li><a href="#">Log In</a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
          </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>