{% extends "datapoints/base.html" %}

{% block content %}
    <div align="right"><a href="{% url 'datapoints:search_datapoint' %}"> Search Page </a></div>
    <br><br>

    {% if top_datapoints %}
    <table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Indicator</th>
            <th>Region</th>
            <th>Reporting Period</th>
            <th>Value</th>
            <th>Edit</th>
        </tr>
    </thead>

        {% for datapoint in top_datapoints %}
        <tr>
            <th>{{ datapoint.id }}</th>
            <th>{{ datapoint.indicator }}</th>
            <th>{{ datapoint.region }}</th>
            <th>{{ datapoint.reporting_period }}</th>
            <th>{{ datapoint.value }}</th>
            <th><a href="{% url 'datapoints:update_datapoint' datapoint.id %}"> Edit </a></th>
        </tr>
        {% endfor %}
    </table>

            {% if is_paginated %}
                <div class="pagination">
                    <span class="page-links">
                        {% if page_obj.has_previous %}
                            <a href="/datapoints?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="/datapoints?page={{ page_obj.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            {% endif %}

{% else %}
    <p>No datapoints are available.</p>
{% endif %}
    <div align="right">
    <a href="{% url 'datapoints:create_datapoint' %}" <button type="submit" class="btn btn-primary"> Create New Data Point </button></a>
    </div>

{% endblock %}
