{% extends "datapoints/base.html" %}


{% block content %}

    <br>

    {% if top_regions %}
    <table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>parent_region</th>
            <th>longitude</th>
            <th>latitude</th>
            <th>edit</th>
        </tr>
    </thead>

        {% for region in top_regions %}
        <tr>
            <th>{{ region.id }}</th>
            <th>{{ region.name }}</th>
            <th>{{ region.parent_region }}</th>
            <th>{{ region.longitude }}</th>
            <th>{{ region.latitude }}</th>

            <th><a href="{% url 'regions:update_region' region.id %}"> Edit </a></th>
        </tr>
        {% endfor %}

    </table>
  {% if is_paginated %}
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="/datapoints/regions?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="/datapoints/regions?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>
  {% endif %}

{% else %}
    <p>No regions are available.</p>
{% endif %}
    <div align="right">
    <a href="{% url 'regions:create_region' %}"<button type="submit" class="btn btn-primary"> Create New Region </button></a>
    </div>

{% endblock %}





{% for datapoint in top_datapoints %}
        <tr>
            <th>{{ datapoint.id }}</th>
            <th>{{ datapoint.indicator }}</th>
            <th>{{ datapoint.region }}</th>
            <th>{{ datapoint.campaign }}</th>
            <th>{{ datapoint.value }}</th>
            <th><a href="{% url 'datapoints:update_datapoint' datapoint.id %}"> Edit </a></th>
        </tr>
        {% endfor %}
    </table>
