{% extends "datapoints/base.html" %}


{% block content %}
        <li><a href="{% url 'regions:region_relationship_index' %}">Region Relationships</a></li>


    <br>

    {% if top_regions %}
    <table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>full name</th>
            <th>office</th>
            <th>slug</th>
            <th>edit</th>
        </tr>
    </thead>

        {% for region in top_regions %}
        <tr>
            <th>{{ region.id }}</th>
            <th>{{ region.full_name }}</th>
            <th>{{ region.office }}</th>
            <th>{{ region.slug }}</th>
            <th><a href="{% url 'regions:update_region' region.id %}"> Edit </a></th>
        </tr>
        {% endfor %}

    </table>
{% else %}
    <p>No regions are available.</p>
{% endif %}
    <div align="right">
    <a href="{% url 'regions:create_region' %}"<button type="submit" class="btn btn-primary"> Create New Region </button></a>
    </div>

{% endblock %}
