{% extends "datapoints/base.html" %}

{% block content %}
    {% if top_regions %}
    <table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>short name</th>
            <th>full name</th>
            <th>details</th>
        </tr>
    </thead>

        {% for region in top_regions %}
        <tr>
            <th>{{ region.id }}</th>
            <th>{{ region.short_name }}</th>
            <th>{{ region.full_name }}</th>
            <th><a href="{% url 'datapoints:region_detail' region.id %}"> view </a></th>
        </tr>
        {% endfor %}

    </table>
{% else %}
    <p>No rgions are available.</p>
{% endif %}
    <div align="right">
    <a href="/datapoints/regions/create_region" <button type="submit" class="btn btn-primary"> Create New Region </button></a>
    </div>

{% endblock %}