.chart-wizard {
  width: 1230px;
  margin: 20px auto;
}

.chart-wizard__step-list {
  width: 25%;
  min-width: 300px;
  margin: 0;
  display: inline-block;
}

.chart-wizard__step {
  list-style: none;
  cursor: pointer;
  border: 1px solid #666;
  border-bottom: none;

  &:last-child {
    border-bottom: 1px solid #666;
  }

  h2 {
    background: #ddd;
    padding: 5px 10px;
    margin: 0;
    border-bottom: 1px solid #666;
  }

  .chart-wizard__expandable {
    display: none;
    min-height: 200px;
    padding: 10px;
  }

  &.active .chart-wizard__expandable {
    display: block;
  }
}

.chart-wizard__screen-list {
  width: 60%;
  display: inline-block;
  margin-left: 50px;
  vertical-align: top;
}

.chart-wizard__screen {
  display: none;
  &.active {
    display: block;
  }
}

.chart-wizard__cancel {
  display: block;
  margin: 10px 0;
  font-size: 14px;
}
