$include-html-grid-classes: false;
$include-html-block-grid-classes: false;
@import "foundation/components/block-grid";
@import "foundation/components/grid";

$total-columns: 7;
@media #{$small-up} {
	#management-dashboard {
		@include grid-html-classes($size:small);
		@include block-grid-html-classes($size:small,$include-spacing:false);
	}
}

@media #{$medium-up} {
	#management-dashboard {
		@include grid-html-classes($size:medium);
		@include block-grid-html-classes($size:medium,$include-spacing:false);
	}
}

@media #{$large-up} {
	#management-dashboard {
		@include grid-html-classes($size:large);
		@include block-grid-html-classes($size:large,$include-spacing:false);
	}
}

@media print {
	#management-dashboard {
		@include grid-html-classes($size:small);
		@include block-grid-html-classes($size:small,$include-spacing:false);
	}
}

@media print and (min-width: 8in) {
	#management-dashboard {
		@include grid-html-classes($size:medium);
		@include block-grid-html-classes($size:medium,$include-spacing:false);
	}
}

@media print and (min-width: 10.5in) {
	#management-dashboard {
		@include grid-html-classes($size:large);
		@include block-grid-html-classes($size:large,$include-spacing:false);
	}
}
