{% extends "base.html" %}

{% block content %}
    <br>
    <br><br>


    {% if documents %}

    <div class="container">
    <table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Document_id</th>
            <th>file_path</th>
            <th>created_by</th>
            <th>doc_text</th>
            <th>review source dps</th>
            <th>refresh master</th>
            <th>is_processed</th>
        </tr>
    </thead>

        {% for document in documents %}
            <tr>
                <th>{{ document.id }}</th>
                <th>{{ document.docfile }}</th>
                <th>{{ document.created_by }}</th>
                <th>{{ document.doc_text }}</th>
                <th> <a href="{% url 'source_data:document_review' document.id %}"<button type=\
                  "submit" class="btn btn-primary btn-sm"> Review and Sync
                <th> <a href="{% url 'source_data:mark_doc_as_processed' document.id %}"<button type=\
                  "submit" class="btn btn-primary btn-sm"> Marks as Complete!
                <th>{{ document.is_processed }}</th>
            </tr>


        {% endfor %}
    </table>
  </div>


{% else %}
    <p> everything is mapped </p>
{% endif %}


{% endblock %}
