{% extends "base.html" %}

{% block content %}
    <br>

     <div style="float: right;"> <a class="button" href="/upload/file_upload/">New CSV Upload</a></div>
    <br><br>


    {% if documents %}

    <div class="container">
    <table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Document_id</th>
            <th>file_path</th>
            <th>created_by</th>
            <th>doc_text</th>
            <th>review source dps</th>
        </tr>
    </thead>

        {% for document in documents %}
            <tr>
                <td>{{ document.id }}</td>
                <td>{{ document.docfile }}</td>
                <td>{{ document.created_by }}</td>
                <td>{{ document.doc_text }}</td>
                <td> <a href="{% url 'source_data:field_mapping' document.id %}"> Review and Sync </a></td>
            </tr>


        {% endfor %}
    </table>
  </div>


{% else %}
    <p> everything is mapped </p>
{% endif %}


{% endblock %}
