{% extends "base.html" %}

{% block content %}
<br>

<br><br>

<div style="width:80%; margin-left:auto;margin-right:auto">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>form name</th>
        <th>document id</th>
        <th>last processed</th>
        <th>response_msg</th>
        <th>source_datapoint_count</th>
        <th>master_datapoint_count</th>
        <th>map and sync</th>

      </tr>
    </thead>



    {% for job in odk_job_data %}
    <tr>
      <th>{{ job.form_name }}</th>
      <th>{{ job.document_id }}</th>
      <th>{{ job.last_processed }}</th>
      <th>{{ job.response_msg }}</th>
      <th>{{ job.source_datapoint_count }}</th>
      <th>{{ job.master_datapoint_count }}</th>
      <th>Some Map Url</th>

    </tr>


    {% endfor %}
  </table>
</div>


{% endblock %}
