<div id="management-dashboard">

	<div class="row print-only">
		<div class="small-12 columns">
			<h1>
				<span class="campaign">{{ campaignName }}</span>
				<span class="region">{{ regionName }}</span>
			</h1>
			<h2>
				Polio<br />
				Performance<br />
				Dashboard
			</h2>
			<img src="/static/img/UNICEF.svg" class="logo"/>
		</div>
	</div>

	<div class="row">
		<div class="medium-2 columns">
			<h3>Impact</h3>

			<section>
				<h4>
					<span v-if="cases != null">
						<span class="highlight">{{ cases }}</span>
						Polio cases this year
					</span>
					<span v-if="cases == null">
						Polio Cases
					</span>
				</h4>
				<div style="position:relative">
					<div
						v-if="newCases != null">
						<p id="new-polio-cases">{{ newCases }} new {{ newCases | pluralize case }}</p>
					</div>
					<div
						id="polio-cases-ytd"
						v-component="chart-ytd"
						data-aspect="1.757"
						data-margin-top="24"
						data-margin-right="4"
						data-margin-left="4"
						data-margin-bottom="24"
						data-indicators="[168]"
						data-period="2 years"
						v-with="campaign: campaign, region: region"></div>
				</div>
			</section>

			<section>
				<h4>Immunity Gap</h4>
				<svg
					id="immunity-gap"
					v-component="chart-stacked-area"
					data-margin-bottom="24"
					data-aspect="1.609"
					data-margin-top="24"
					data-margin-right="4"
					data-margin-left="4"
					data-margin-bottom="24"
					data-period="2 years"
					data-indicators="[431,432]"
					data-format-string="%"
					v-with="region: region, campaign: campaign"></svg>
			</section>
		</div>

		<div class="medium-5 columns">
			<h3>Performance of Front Line Workers</h3>

			<div class="row">
				<div class="medium-2 columns">

					<section>
						<h4>Missed Children</h4>
						<svg
							id="missed-children"
							v-component="chart-stacked-area"
							data-margin-top="24"
							data-margin-right="4"
							data-margin-left="4"
							data-margin-bottom="24"
							data-aspect="1.757"
							data-margin-bottom="12"
							data-indicators="[166,164,167,165]"
							data-period="2 years"
							data-format-string=".1%"
							v-with="region: region, campaign: campaign"></svg>
					</section>

					<section>
						<h4>Conversions</h4>
						<div
							id="conversions"
							v-component="chart-line"
						 	data-aspect="1.609"
							data-margin-top="24"
							data-margin-right="4"
							data-margin-left="4"
							data-margin-bottom="24"
						 	data-period="2 years"
						 	data-indicators="[187,189]"
						 	data-format-string="%"
						 	v-with="campaign: campaign, region: region"></div>
					</section>

					<section>
						<p v-if="microplans.length === 2"
						   style="margin-bottom: 0">

							<svg width="26" height="26" style="float:left;margin-right:10px">
								<g v-component="chart-pie"
								   data-outer-radius="13"
								   data-slices="{{ microplans }}"
								   data-indicators="[222]"
								   transform="translate(13,13)"></g>
							</svg>

							{{ microplans[0].value }} / {{ microplans[0].value + microplans[1].value }}
							microplans incorporate social data

						</p>
						<p v-if="microplans.length !== 2">No microplan data available.</p>
					</section>

				</div>

				<div class="medium-3 columns">
					<h4>Missed Children Due to Refusal</h4>
					<div v-component="chart-choropleth"
					     v-with="region: region, campaign: campaign"
					     data-indicator="166"
					     data-aspect="1"
					     data-range="[0, 0.1]">
					</div>
				</div>

				<div class="medium-2 column">
					<h4>Transit Points</h4>
					<!-- 177 -->
					<p>No data</p>

					<h6>Missed Children Due to Refusal</h6>

					<svg class="legend reds" viewBox="0 0 177 84">
						<g>
							<rect width="11" height="11" class="q-6"></rect>
							<text dx="14" dy="9">10+%</text>
						</g>
						<g transform="translate(0,14)">
							<rect width="11" height="11" class="q-5"></rect>
							<text dx="14" dy="9">8&ndash;9%</text>
						</g>
						<g transform="translate(0,28)">
							<rect width="11" height="11" class="q-4"></rect>
							<text dx="14" dy="9">6&ndash;7%</text>
						</g>
						<g transform="translate(0,42)">
							<rect width="11" height="11" class="q-3"></rect>
							<text dx="14" dy="9">4&ndash;5%</text>
						</g>
						<g transform="translate(0,56)">
							<rect width="11" height="11" class="q-2"></rect>
							<text dx="14" dy="9">2&ndash;3%</text>
						</g>
						<g transform="translate(0,70)">
							<rect width="11" height="11" class="q-1"></rect>
							<text dx="14" dy="9">0&ndash;1%</text>
						</g>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<section class="medium-2 columns">
			<h3>FLWs' Capacity to Perform</h3>
			<ul class="small-block-grid-2">
				<li v-repeat="indicator: capacity"
				    v-with="campaign: campaign, region: region">
					<div v-component="chart-bullet"
				       v-with="indicators: indicator, campaign: campaign, region: region"
				       data-aspect="3"
				       data-period="5 months"></div>
				</li>
			</ul>
		</section>

		<div class="medium-1 column">
			<h3>Supply</h3>
			<ul class="small-block-grid-2 medium-block-grid-1">
				<li v-repeat="indicator: supply">
					<div v-component="chart-bullet"
					     data-aspect="3.177"
					     data-period="5 months"
					     v-with="indicators: indicator, campaign: campaign, region: region"></div>
				</li>
			</ul>
		</div>

		<div class="medium-1 column">
			<h3>Polio+</h3>
			<ul class="small-block-grid-2 medium-block-grid-1">
				<li v-repeat="indicator: polio">
					<div v-component="chart-bullet"
					     data-aspect="3.177"
					     data-period="5 months"
					     v-with="indicators: indicator, campaign: campaign, region: region"></div>
				</li>
			</ul>
		</div>

		<div class="medium-1 column">
			<h3>Resources</h3>
			<ul class="small-block-grid-2 medium-block-grid-1">
				<li v-repeat="indicator: resources"
				    v-with="campaign: campaign, region: region">
					<div v-component="chart-bullet"
					     data-aspect="3.177"
					     data-period="5 months"
					     v-with="indicators: indicator, campaign: campaign, region: region"></div>
				</li>
			</ul>
		</div>

		<div class="medium-2 columns">
			<h3>Inaccessible Children</h3>
			<div v-component="chart-line"
			     data-aspect="2.665"
			     data-margin-bottom="24"
			     data-period="2 years"
			     data-indicators="[158]"
					 data-format-string="s"
			     v-with="campaign: campaign, region: region"></div>

			<div class="row">
				<div class="medium-3 columns">
					<h6>Districts Reporting Access Analysis</h6>
					<div v-component="chart-pie"
							 data-indicators="[174]"
							 data-width="150"
							 data-height="150"
							 v-with="campaign: campaign, region: region"></div>
				</div>
				<div class="medium-4 columns">
					<h6>Inaccessibility Breakdown</h6>
					<ul class="pie">
						<li
							v-repeat="inaccessibility"
							v-class="hide-for-print: hiddenForPrint">
							<span
								v-component="chart-pie"
								data-width="12"
								data-height="12"
								v-with="datapoints : datapoints,
								        loading    : false"></span>
								{{ value }} {{ name }}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
