<div>
	<form>
		<div class="row">
			<div id="regions" class="medium-1 column"></div>

			<div class="medium-1 column end"
			     v-component="vue-dropdown"
			     v-ref="campaigns"
			     v-with="items: campaigns"
			     data-sort-by="date"
			     data-sort-dsc="false"></div>
		</div>
	</form>
	<div class="row">
		<div class="medium-2 columns">
			<h3>Impact</h3>

			<section>
				<h4>Polio Cases</h4>
				<div v-component="chart-year-over-year"
				     data-aspect="1.8"
				     data-margin-bottom="24"
				     data-indicators="69"
				     data-period="2 years"
				     v-with="campaign: campaign, region: region"></div>
			</section>

			<section>
				<h4>Immunity Gap</h4>
				<svg v-component="chart-stacked-area"
						     data-margin-bottom="24"
						     data-aspect="1.618"
						     data-margin-bottom="12"
						     data-indicators="[164,165,166,167]"
						     data-duration="2 years"
						     v-with="region: region, campaign: campaign"></svg>
			</section>
		</div>

		<div class="medium-5 columns">
			<h3>Performance of Front Line Workers</h3>

			<div class="row">
				<div class="medium-2 columns">

					<section>
						<h4>Missed Children</h4>
						<svg v-component="chart-stacked-area"
						     data-margin-bottom="24"
						     data-aspect="1.618"
						     data-margin-bottom="12"
						     data-indicators="[164,165,166,167]"
						     data-duration="2 years"
						     v-with="region: region, campaign: campaign"></svg>
					</section>

					<section>
						<h4>Conversions</h4>
						<div v-component="chart-line"
						     data-aspect="1.618"
						     data-margin-bottom="24"
						     data-period="2 years"
						     data-indicators="[40,48]"
						     v-with="campaign: campaign, region: region"></div>
					</section>

					<section>
						<p v-if="microplans.length === 2"
						   style="margin-bottom: 0">

							<svg width="26" height="26" style="float:left;margin-right:10px">
								<g v-component="chart-pie"
								   data-outer-radius="13"
								   data-slices="{{ microplans }}"
								   transform="translate(13,13)"></g>
							</svg>

							{{ microplans[0].value }} / {{ microplans[0].value + microplans[1].value }}
							microplans incorporate social data

						</p>
						<p v-if="microplans.length !== 2">No microplan data available.</p>
					</section>

				</div>

				<div class="medium-3 columns">
					<div v-component="chart-map"
					     v-with="region: region, campaign: campaign"
					     data-indicator="166"
					     data-aspect="1"
					     data-range="[0, 0.1]">
					</div>
				</div>

				<div class="medium-2 column">
					<h4>Transit Points</h4>
					<p>No data</p>

					<h6>Missed Children</h6>
					<ul class="legend reds">
						<li>
							<div class="key q-6"></div>
							10+%
						</li>
						<li>
							<div class="key q-5"></div>
							8&ndash;9%
						</li>
						<li>
							<div class="key q-4"></div>
							6&ndash;7%
						</li>
						<li>
							<div class="key q-3"></div>
							4&ndash;5%
						</li>
						<li>
							<div class="key q-2"></div>
							2&ndash;3%
						</li>
						<li>
							<div class="key q-1"></div>
							0&ndash;1%
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<section class="medium-2 columns">
			<h3>FLWs' Capacity to Perform</h3>
			<ul class="small-block-grid-2">
				<li v-repeat="indicator: capacity"
				    v-with="campaign: campaign, region: region">
					<div v-component="chart-bullet"
				       v-with="indicators: indicator, campaign: campaign, region: region"
				       data-aspect="3"
				       data-period="5 months"></div>
				</li>
			</ul>
		</section>

		<div class="medium-1 column">
			<h3>Supply</h3>
			<ul class="small-block-grid-2 medium-block-grid-1">
				<li v-repeat="indicator: supply">
					<div v-component="chart-bullet"
					     data-aspect="3"
					     data-period="5 months"
					     v-with="indicators: indicator, campaign: campaign, region: region"></div>
				</li>
			</ul>
		</div>

		<div class="medium-1 column">
			<h3>Polio+</h3>
			<ul class="small-block-grid-2 medium-block-grid-1">
				<li v-repeat="indicator: polio">
					<div v-component="chart-bullet"
					     data-aspect="3"
					     data-period="5 months"
					     v-with="indicators: indicator, campaign: campaign, region: region"></div>
				</li>
			</ul>
		</div>

		<div class="medium-1 column">
			<h3>Resources</h3>
			<ul class="small-block-grid-2 medium-block-grid-1">
				<li v-repeat="indicator: resources"
				    v-with="campaign: campaign, region: region">
					<div v-component="chart-bullet"
					     data-aspect="3"
					     data-period="5 months"
					     v-with="indicators: indicator, campaign: campaign, region: region"></div>
				</li>
			</ul>
		</div>

		<div class="medium-2 columns">
			<h3>Inaccessible Children</h3>
			No data.
		</div>
	</div>
</div>
