<div id="nco-dashboard">
	<div class="row">
		<div class="small-12 columns">
			<h3>Overview</h3>
		</div>

		<div class="medium-6 columns">
			<div class="row">
				<div class="medium-6 columns">
					<div class="row">
						<div class="small-12 columns">
							<h4 style="text-align:center">Missed Children</h4>
						</div>

						<div class="labeled-donut medium-6 columns">
							<div
								v-component="chart-pie"
								data-width="150"
								data-height="150"
								data-inner-radius="45"
								v-with="
									datapoints : overview.missed.inside,
									loading    : overview.loading"></div>
							<p class="donut-label">{{ overview.missed.insideLabel }}</p>
						</div>

						<div class="labeled-donut medium-6 columns">
							<div
								v-component="chart-pie"
								data-width="150"
								data-height="150"
								data-inner-radius="45"
								v-with="
									datapoints : overview.missed.outside,
									loading    : overview.loading"></div>
							<p class="donut-label">{{ overview.missed.outsideLabel }}</p>
						</div>
					</div>
				</div>

				<div class="medium-6 columns">
					<h4 style="text-align:center">Caregiver Awareness</h4>

					<div class="labeled-donut">
						<div
							v-component="chart-pie"
							data-width="150"
							data-height="150"
							data-inner-radius="45"
							v-with="
								datapoints : overview.awareness,
								loading    : overview.loading"></div>
						<p class="donut-label">{{ overview.awarenessLabel }}</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="medium-6 columns">
					<h4>Inside Monitoring</h4>
					<div
						v-component="chart-scatter"
						data-margin-top="9"
						data-margin-right="9"
						data-aspect="1.7"
						v-with="loading : overview.loading"></div>
				</div>

				<div class="medium-6 columns">
					<h4>Outside Monitoring</h4>
					<div
						v-component="chart-scatter"
						data-margin-top="9"
						data-margin-right="9"
						data-aspect="1.7"
						v-with="loading : overview.loading"></div>
				</div>
			</div>
		</div>

		<div class="medium-3 columns">
			<h4><a href="#influencers">Influencers</a></h4>
			<div
				v-component="chart-bar"
				data-format="%"
				v-with="
					domain : overview.influencer.domain,
					series : overview.influencer.series"></div>
		</div>

		<div class="medium-3 columns">
			<h4><a href="#sources-of-information">Information Source</a></h4>
			<div
				v-component="chart-bar"
				data-format="%"
				v-with="
					domain : overview.source.domain,
					series : overview.source.series"></div>
		</div>
	</div>

	<div class="row">
		<div class="medium-3 columns">
			<h4><a href="#missed-children">Reason for Missed</a></h4>
			<div
				v-component="chart-bar"
				data-format="%"
				v-with="
					domain : overview.reasonForMissed.domain,
					series : overview.reasonForMissed.series"></div>
		</div>

		<div class="medium-3 columns">
			<h4><a href="#absences">Reason for Absence</a></h4>
			<div
				v-component="chart-bar"
				data-format="%"
				v-with="
					domain : overview.absence.domain,
					series : overview.absence.series"></div>
		</div>

		<div class="medium-3 columns">
			<h4><a href="#non-compliance">Reason for Non-Compliance</a></h4>
			<div
				v-component="chart-bar"
				data-format="%"
				v-with="
					domain : overview.noncompliance.domain,
					series : overview.noncompliance.series"></div>
		</div>

		<div class="medium-3 columns">
			<h4><a href="#resolutions">NC Resolved by</a></h4>
			<div
				v-component="chart-bar"
				data-format="%"
				v-with="
					domain : overview.resolutions.domain,
					series : overview.resolutions.series"></div>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<h3>
				<a name="missed-children">Missed Children</a>&ensp;
				<div class="medium inline">
					<label>
						<input
							type="radio"
							name="missed-children-offset"
							value="zero"
							checked
							v-model="missed.offset">
						total
					</label>
					<label>
						<input
							type="radio"
							name="missed-children-offset"
							value="expand"
							v-model="missed.offset">
						as % of all missed children
					</label>
				</div>
			</h3>
		</div>
		<div class="medium-8 columns">
			<div
				v-component="chart-stacked-bar"
				data-margin-right="120"
				data-tick-count="5"
				v-with="
					series : missed.reasons,
					offset : missed.offset"></div>
		</div>
		<div class="medium-4 columns">
			<div
				v-component="chart-bar"
				data-labels="false"
				data-margin-right="120"
				v-with="
					series    : missed.monitoring,
					barHeight : missed.barHeight"></div>
		</div>
	</div>

	<div class="row">

		<div class="medium-6 columns">
			<h3>
				<a name="absences">Absences</a>&ensp;
				<div class="medium inline">
					<label>
						<input
							type="radio"
							name="absences-children-offset"
							value="zero"
							checked
							v-model="absences.offset">
						total
					</label>
					<label>
						<input
							type="radio"
							name="absences-children-offset"
							value="expand"
							v-model="absences.offset">
						as % of all absences
					</label>
				</div>
			</h3>
			<div
				v-component="chart-stacked-bar"
				data-margin-right="120"
				v-with="
					series : absences.reasons,
					offset : absences.offset"></div>
		</div>

		<div class="medium-6 columns">
			<h3>
				<a name="non-compliance">Non-Compliance</a>&ensp;
				<div class="medium inline">
					<label>
						<input
							type="radio"
							name="noncompliance-children-offset"
							value="zero"
							checked
							v-model="noncompliance.offset">
						total
					</label>
					<label>
						<input
							type="radio"
							name="noncompliance-children-offset"
							value="expand"
							v-model="noncompliance.offset">
						as % of all non-compliance
					</label>
				</div>
			</h3>
			<div
				v-component="chart-stacked-bar"
				data-margin-right="120"
				v-with="
					series : noncompliance.reasons,
					offset : noncompliance.offset"></div>
		</div>
	</div>

	<div class="row">

		<div class="medium-4 columns">
			<h3>
				<a name="resolutions">Non-Compliance Resolutions</a>&ensp;
				<div class="large inline">
					<label>
						<input
							type="radio"
							name="resolutions-children-offset"
							value="zero"
							checked
							v-model="resolutions.offset">
						total
					</label>
					<label>
						<input
							type="radio"
							name="resolutions-children-offset"
							value="expand"
							v-model="resolutions.offset">
						as % of all resolutions
					</label>
				</div>
			</h3>
			<div
				v-component="chart-stacked-bar"
				data-margin-right="120"
				v-with="
					series : resolutions.by,
					offset : resolutions.offset"></div>
		</div>

		<div class="medium-4 columns">
			<h3>
				<a name="influencers">Influencers</a>&ensp;
				<div class="large inline">
					<label>
						<input
							type="radio"
							name="influencers-children-offset"
							value="zero"
							checked
							v-model="influencers.offset">
						total
					</label>
					<label>
						<input
							type="radio"
							name="influencers-children-offset"
							value="expand"
							v-model="influencers.offset">
						as % of all influencers
					</label>
				</div>
			</h3>
			<div
				v-component="chart-stacked-bar"
				data-margin-right="120"
				v-with="
					series : influencers.by,
					offset : influencers.offset"></div>
		</div>

		<div class="medium-4 columns">
			<h3>
				<a name="sources-of-information">Sources of Information</a>&ensp;
				<div class="large inline">
					<label>
						<input
							type="radio"
							name="sources-children-offset"
							value="zero"
							checked
							v-model="sources.offset">
						total
					</label>
					<label>
						<input
							type="radio"
							name="sources-children-offset"
							value="expand"
							v-model="sources.offset">
						as % of all sources
					</label>
				</div>
			</h3>
			<div
				v-component="chart-stacked-bar"
				data-margin-right="120"
				v-with="
					series : sources.series,
					offset : sources.offset"></div>
		</div>
	</div>
</div>
