<div class="clearfix"></div>

<div class="row">
	<section class="medium-3 columns">

		<h3>Impact</h3>

		<section>
			<h4>Polio Cases</h4>
			<svg v-component="chart-base"
				   v-with="series: missed"
				   aspect="1.618">

				<rect class="bg"
				      v-attr="width : contentWidth,
				              height: contentHeight"></rect>

				<g class="y axis">
					<g v-repeat="yTicks"
						 v-attr="transform: 'translate(0,' + position + ')'">
						<line v-attr="x2: contentWidth"></line>
						<text dx="1" dy="-2" v-text="label"></text>
					</g>
				</g>

				<path v-repeat="datapoints: series"
				      v-component="chart-line"
				      v-attr="d : datapoints | line"
				      fill="none"
				      stroke="#888"
				      stroke-width="1"
				      class="line"></path>
			</svg>
		</section>

		<section>
			<h4>Immunity Gap</h4>

			<svg v-component="chart-base"
				   v-with="series: immunityGap"
				   aspect="1.618">

				<rect class="bg"
				      v-attr="width : contentWidth,
				              height: contentHeight"></rect>

				<g class="y axis">
					<g v-repeat="yTicks"
						 v-attr="transform: 'translate(0,' + position + ')'">
						<line v-attr="x2: contentWidth"></line>
						<text dx="1" dy="-2" v-text="label"></text>
					</g>
				</g>

				<path v-repeat="datapoints: series"
							v-component="chart-line"
				      v-attr="d : datapoints | area"
				      fill="#888"></path>
			</svg>
		</section>

	</section>

	<section class="medium-9 columns">
		<div class="row">
			<div class="columns">
				<h3>Performance of Front Line Workers</h3>
			</div>
			<div class="medium-4 columns">
				<div style="width: 65px; float: left; padding-right: 15px">
					<svg v-component="chart-base"
						   v-with="series: microplans.series">
						<g transform="translate(25, 25)">
							<path v-repeat="slice: series"
								    v-component="chart-pie"
								    v-radius="inner: 0, outer: 25"
								    v-attr="d:    slice | arc,
								    	      fill: slice.color"></path>
					  </g>
					</svg>
				</div>
				<p>
					{{ microplans.socialData }} / {{ microplans.total }} microplans with
					social data
				</p>
			</div>
			<div class="medium-6 columns"></div>
			<div class="medium-2 columns"></div>
		</div>
	</section>
</div>

<div class="row">
	<div class="medium-8 columns">
		<div class="row">
			<section class="medium-6 columns">
				<h3>FLWs&rsquo; Capacity to Perform</h3>
			</section>

			<section class="medium-2 column">
				<h3>Supply</h3>
			</section>

			<section class="medium-2 column">
				<h3>Polio+</h3>
			</section>

			<section class="medium-2 column">
				<h3>Resources</h3>
			</section>
		</div>
	</div>

	<section class="medium-4 columns">
		<h3>Inaccessible Children</h3>
	</section>
</div>
