<div class="clearfix"></div>

<div class="row">
	<section class="medium-3 columns">

		<h3>Impact</h3>

		<section>
			<h4>Polio Cases</h4>
			<vue-chart aspect="1.618">
				<rect class="bg"
				      v-attr="width  : contentWidth,
				              height : contentHeight"></rect>
			</vue-chart>
		</section>

		<section>
			<h4>Immunity Gap</h4>
		</section>

	</section>

	<section class="medium-9 columns">
		<div class="row">
			<div class="columns">
				<h3>Performance of Front Line Workers</h3>
			</div>
			<div class="medium-4 columns"></div>
			<div class="medium-6 columns"></div>
			<div class="medium-2 columns"></div>
		</div>
	</section>
</div>

<div class="row">
	<div class="medium-8 columns">
		<div class="row">
			<section class="medium-6 columns">
				<h3>FLWs&rsquo; Capacity to Perform</h3>
			</section>

			<section class="medium-2 column">
				<h3>Supply</h3>
			</section>

			<section class="medium-2 column">
				<h3>Polio+</h3>
			</section>

			<section class="medium-2 column">
				<h3>Resources</h3>
			</section>
		</div>
	</div>

	<section class="medium-4 columns">
		<h3>Inaccessible Children</h3>
	</section>
</div>
