{% extends "datapoints/base.html" %}
  {% block content %}
    <body>

      This Screen should show all fof the datapints that the user needs to
      enter in a list that they can insert interactively without having to refresh the page.

      Additionally the user can paste data into a textbox and clicking save should decrease the
      amount of work items they need to finish!

    <form action = "" method = "post" class="form">
        {% csrf_token %}
        {{ data_entry_form }}

        {% if to_review %}
        <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Indicator</th>
                <th>Region</th>
                <th>Reporting Period</th>
                <th>Value</th>
                <th>Edit</th>
            </tr>
        </thead>

            {% for datapoint in to_review %}
            <tr>
                <th>{{ datapoint.id }}</th>
                <th>{{ datapoint.indicator }}</th>
                <th>{{ datapoint.region }}</th>
                <th>{{ datapoint.campaign }}</th>
                <th>{{ datapoint.value }}</th>
                <th><a href="{% url 'datapoints:update_datapoint' datapoint.id %}"> Edit </a></th>
            </tr>
            {% endfor %}
        </table>
        {% else %}
    <p>No datapoints are available.</p>
    {% endif %}



        <br>
        <button type="submit" class="btn btn-primary"> Submit </button>
    </form>



    </body>

{% endblock %}
