{% extends "datapoints/base.html" %}
  {% block content %}
    <body>

      This Screen should show all fof the datapints that the user needs to
      enter in a list that they can insert interactively without having to refresh the page.

      Additionally the user can paste data into a textbox and clicking save should decrease the
      amount of work items they need to finish!

    <form action = "" method = "post" class="form">
        {% csrf_token %}
        {{ form }}
        <br>
        <button type="submit" class="btn btn-primary"> Submit </button>
    </form>



    </body>

{% endblock %}
