
{% extends "datapoints/base.html" %}
  {% block content %}

        <a href="{% url 'source_data:document_review' document_id %}"<button type=\
            "submit" class="button"> Review Document </button></a></th>

            <br>

            {% if to_map %}

            <br>

            <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Model</th>
                    <th>Source String</th>
                    <th>Source Object ID</th>
                    <th>Master Object ID</th>

                </tr>
            </thead>
                {% for item in to_map %}
                    <tr>
                        <th>{{ item.model_type }}</th>
                        <th>{{ item.source_string }}</th>
                        <th>{{ item.source_object_id }}</th>

                        {% if item.master_object_id != -1 %}
                            <th>{{ item.master_object_id }}</th>
                        {% elif item.model_type == 'region' %}
                            <th><a href="{% url 'source_data:map_region' item.source_object_id %}"</a> map!</th>
                        {% elif item.model_type == 'campaign' %}
                            <th><a href="{% url 'source_data:map_campaign' item.source_object_id %}"</a> map!</th>
                        {% elif item.model_type == 'indicator' %}
                            <th><a href="{% url 'source_data:map_indicator' item.source_object_id %}"</a> map!</th>


                        {% else %}
                            <th>wtf</th>
                        {% endif %}

                    </tr>

                {% endfor %}
            </table>


        {% else %}
            <p> everything is mapped </p>
        {% endif %}


        {% if all_mapped %}

        <h3> Here are the mapping for the document id </h3>

        <br>

        <table class="table table-hover table-bordered">
          <thead>
            <tr>
              <th>Model</th>
              <th>Source ID</th>
              <th>Source String</th>
              <th>Master ID </th>
              <th>Master String</th>
              <th>Remove Mapping</th>

            </tr>
          </thead>


        {% for mapped in all_mapped %}

        {% if mapped.source_region %}

        <tr>
          <th> Region </th>
          <th> {{ mapped.source_region.id }}</th>
          <th> {{ mapped.source_region }}</th>
          <th> {{ mapped.master_region.id }}</th>
          <th> {{ mapped.master_region }}</th>
          <th><a href="{% url 'source_data:un_map' mapped.id 'Region' document_id %}"<button type=\
            "submit" class="btn btn-primary btn-sm"> Remove Mapping </button></a></th>


        {% elif mapped.source_indicator %}

        <th> Indicator </th>
        <th> {{ mapped.source_indicator.id }}</th>
        <th> {{ mapped.source_indicator }}</th>
        <th> {{ mapped.master_indicator.id }}</th>
        <th> {{ mapped.master_indicator }}</th>
        <th><a href="{% url 'source_data:un_map' mapped.id 'Indicator' document_id %}"<button type=\
          "submit" class="btn btn-primary btn-sm"> Remove Mapping </button></a></th>


        {% elif mapped.source_campaign %}

        <th> Campaign </th>
        <th> {{ mapped.source_campaign.id }}</th>
        <th> {{ mapped.source_campaign }}</th>
        <th> {{ mapped.master_campaign.id }}</th>
        <th> {{ mapped.master_campaign }}</th>
        <th><a href="{% url 'source_data:un_map' mapped.id 'Campaign' document_id %}"<button type=\
          "submit" class="btn btn-primary btn-sm"> Remove Mapping </button></a></th>
        {% endif %}


        </tr>

        {% endfor %}

        {% endif %}

      </table>



        {% if datapoints %}

        <h3> HERE ARE THE DATAPOINTS YOU JUST CREATED! Nice Job!</h3>


        <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Region</th>
                <th>Campaign</th>
                <th>Indicator</th>
                <th>Value</th>
            </tr>
        </thead>

            {% for datapoint in datapoints %}
            <tr>
                <th>{{ datapoint.id }}</th>
                <th>{{ datapoint.region }}</th>
                <th>{{ datapoint.campaign }}</th>
                <th>{{ datapoint.indicator }}</th>
                <th>{{ datapoint.value }}</th>

            </tr>
            {% endfor %}
        </table>
        {% else %}
    <p>No datapoints are available.</p>
    {% endif %}




{% endblock %}
