<div class="menu">
	<a
		class="menu-button fa-stack"
		v-on="click : toggleMenu">

		<content>
			<i class="fa fa-stack-2x fa-circle"></i>
			<i class="fa fa-stack-1x fa-bars"></i>
		</content>
	</a>

	<div
		class="container"
		v-el="menu"
		v-class="orientation"
		v-style="margin-left : marginLeft + 'px'">

		<div
			class="background"
			v-if="open">
			<div class="arrow"></div>

			<div v-if="searchable" role="search">
				<input
					type="text"
					tabindex="1"
					v-model="pattern"
					v-on="click : $event.stopPropagation()">
				<a
					class="clear-btn"
					v-on="click : clearSearch($event)"
					v-show="pattern.length > 0">
					<i class="fa fa-times-circle"></i>
				</a>
			</div>
			<ul>
				<li v-repeat="filteredItems" v-component="vue-menuitem"></li>
			</ul>
		</div>

	</div>
</div>
