{% extends "datapoints/base.html" %}

{% block content %}
    {% if top_region_relationships %}
    <table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>region 0</th>
            <th>relationship type</th>
            <th>region 1</th>
        </tr>
    </thead>

        {% for region_relationship in top_region_relationships %}
        <tr>
            <th>{{ region_relationship.id }}</th>
            <th>{{ region_relationship.region_0 }}</th>
            <th>{{ region_relationship.region_relationship_type }}</th>
            <th>{{ region_relationship.region_1 }}</th>
            </tr>
        {% endfor %}

    </table>
{% else %}
    <p>No Region Relationships are available.</p>
{% endif %}

<a href="{% url 'regions:create_region_relationship' %}" role="button" class="right">
	<i class="fa fa-plus- fa-fw"></i>&emsp;New Region Relationship
</a>

{% endblock %}
