$tooltip-bg: rgba(72, 72, 77, 0.96);
$pointer-size: 7px;
$pointer-offset: -14px;
$pointer-margin: 8px;

.tooltip {
	display: inline-block;
	position: absolute;

	background-color: $tooltip-bg;

	border-radius: 4px;
	margin-bottom: $pointer-size;
	max-width: 30em;
	min-width: 16em;
	padding: 1em;

	// Reset some of the tooltip crap from Foundation
	left: auto;
	right: auto;
	bottom: auto;
	top: auto;

	transition: opacity 300ms ease;

	.fade-enter {
		opacity: 0;
	}

	.fade-leave {
		opacity: 0;
	}

	.pointer {
		position: absolute;

		border-color: transparent;
		border-style: solid;
		border-width: $pointer-size;

		height: 0;
		width: 0;

	}

	&.top {
		.pointer {
			border-top-color: $tooltip-bg;

			left: $pointer-margin;
			bottom: $pointer-offset;
		}
	}

	&.right {
		.pointer {
			border-right-color: $tooltip-bg;

			left: $pointer-offset;
			top: $pointer-margin;
		}
	}

	&.bottom {
		.pointer {
			border-bottom-color: $tooltip-bg;

			left: $pointer-margin;
			top: $pointer-offset;
		}
	}

	&.left {
		.pointer {
			border-left-color: $tooltip-bg;

			top: $pointer-margin;
			right: $pointer-offset;
		}
	}
}
