$left-column-width: 300px;
$chart-container-color: #ddd;
$chart-wrapper-margin: 2px;
$right-page-width: 900px;

.visualization-builder-container {
  padding: 10px;
  position: relative;
  width: 1230px;
  margin: 0px auto;
  .left-page {
    width: $left-column-width;
    display: inline-block;
  }
  .right-page {
    width: $right-page-width;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    .grouping {
      display: block;
      vertical-align: top;
      margin: 1px 8px;
    }
    .chart-options-container {
      background-color: $chart-container-color;
      margin-left: $chart-wrapper-margin;
      padding: 10px;
    }
    .chart-container {
      background-color: #ddd;
      margin-left: $chart-wrapper-margin;
      position: relative;
      padding: 10px;

      .grouping {
        margin-top: 0;
      }

      .preview-section {
        display: inline-block;
        width: 600px;
        background-color: #fff;
        padding: 10px;
        .dropdown-wrapper {
          width: 50%;
          display: inline-block;
        }
      }

    }
    .menu-span {
      display: inline-block;
      width: 200px;
    }
    .loading-div {
      position: absolute;
      top: 100px;
      left: 45%;
      z-index: 999;
    }
  }
}

.titleDiv {
  font-size: 13px;
  margin-bottom: 4px;
  width: 110px;
  float: left;
}

.ChartBuilderInidcatorButton {
  width: $left-column-width;
  display: inherit;
}

.chart-select {
  text-align: center;

  .chart-box-wrapper {
    padding: 10px;
    display: inline-block;
    margin: 0;

    .chart-box {
      border-radius: 5px;
      text-align: center;
      padding: 5px 8px;
      cursor: pointer;
      opacity: 0.6;
    }

    .chart-icon {
      width: 80px;
      display: block;
      text-align: center;
    }

    &.active {
      background-color: #436380;
      color: #fff;
      .chart-box {
        opacity: 1.0;
      }
    }

    &:hover:not(.active) {
      background-color: lighten(#436380, 50%);
      .chart-box {
        opacity: 1.0;
      }
    }
  }
}
