<form class="inline">
	<div class="row">

			<div class="medium-4 columns">
				<label>
					<div class="row">
						<div class="small-7 columns">Time Period</div>
					</div>
					<div class="row">
						<div class="small-3 columns">
							<input name="start_dt"
									type="text"
									placeholder="YYYY-MM-DD"
									aria-label="Start Date"
									v-model="campaign.start"></input>
						</div>
						<div class="small-1 columns inline centered">to</div>
						<div class="small-3 columns">
							<input name="end_dt"
									type="text"
									placeholder="YYYY-MM-DD"
									aria-label="End Date"
									v-model="campaign.end"></input>
						</div>
					</div>
				</label>
			</div>

			<div class="medium-1 columns">
				<label>
					Regions
					<vue-dropdown v-with="items : regions"
							placeholder="0 selected"
							multi="true"
							searchable="true"
							loading="true"
							loadedEvent="regionsLoaded"></vue-dropdown>
				</label>
			</div>

			<div class="medium-1 columns">
				<label>
					Indicators
					<vue-dropdown v-with="items : indicators"
							placeholder="0 selected"
							multi="true"
							searchable="true"
							loading="true"
							loadedEvent="indicatorsLoaded"></vue-dropdown>
				</label>
			</div>

			<!-- FIXME: Remove inline style -->
			<div class="medium-1 columns" style="text-align: right">
				<!-- FIXME: Remove blank line for alignment -->
				&nbsp;<br>
				<a class="button primary" role="button" v-on="click : refresh()"
				   v-class="disabled: !hasSelection">
					<i class="fa fa-fw fa-refresh" v-class="fa-spin : table.loading"></i>&emsp;Load
				</a>
			</div>
	</div>
</form>

<div class="row">
	<div class="small-12 columns">
		<vue-table v-with="table"></vue-table>
	</div>

	<div class="small-12 columns">
		<!-- FIXME: Placeholder for real pagination once the pivoting stuff gets
		     worked out. -->
		<a v-class="disabled: pagination.the_offset == 0"
			 v-on="click: previous()"
			 style="margin-right:1.2rem">
			<i class="fa fa-angle-left"></i>&emsp;Prev
		</a>
		<a v-on="click: next()">
			Next&emsp;<i class="fa fa-angle-right"></i>
		</a>
	</div>

	<div class="medium-2 large-1 columns">
		<a role="button" class="button expand" aria-label="Download All"
		   v-class="disabled: !hasSelection"
			 v-on="click : download()">
			<i class="fa fa-fw fa-download"></i>&emsp;Download All
		</a>
	</div>
</div>

<!-- Download target -->
<iframe width="0" height="0" src="{{ src }}"></iframe>
