<form class="inline">
	<div class="form-group">
		<label>Time Period</label>
		<input name="start_dt" type="text"></input>
		to
		<input name="end_dt" type="text"></input>
	</div>

	<div class="form-group">
		<label for="regions">Regions</label>
		<vue-dropdown v-with="items : regions"
				placeholder="Select regions"
				multi="true"
				searchable="true"></vue-dropdown>
	</div>

	<div class="form-group">
		<label for="indicators">Indicators</label>
		<vue-dropdown v-with="items : indicators"
				placeholder="Select indicators"
				multi="true"
				searchable="true"></vue-dropdown>
	</div>
	<a role="button" v-on="click : refresh()">
		Update&emsp;<i class="fa fa-refresh" v-class="fa-spin : loading"></i>
	</a>
</form>

<vue-table v-with="table"></vue-table>
<vue-pagination v-with="pagination"></vue-pagination>

<a role="button" class="right" href="{{ download }}" v-on="click : downloading = true"
		target="dltarget">
	Download CSV
	<i class="fa" v-class="fa-download : !downloading,
												 fa-spinner : downloading,
												 fa-spin : downloading"></i>
</a>
<iframe name="dltarget" width="0" height="0" onload="console.log('done')" v-on="ready : downloading = false"></iframe>
