<form class="inline">
	<div class="form-group">
		<label>Time Period</label>
		<input name="start_dt" type="text"></input>
		to
		<input name="end_dt" type="text"></input>
	</div>

	<div class="form-group">
		<label for="regions">Regions</label>
		<vue-dropdown v-with="items : regions"
				placeholder="Select regions"
				multi="true"
				searchable="true"></vue-dropdown>
	</div>

	<div class="form-group">
		<label for="indicators">Indicators</label>
		<vue-dropdown v-with="items : indicators"
				placeholder="Select indicators"
				multi="true"
				searchable="true"></vue-dropdown>
	</div>
	<a role="button" v-on="click : refresh()">
		Update&emsp;<i class="fa fa-fw fa-refresh" v-class="fa-spin : loading"></i>
	</a>
</form>

<vue-table v-with="table"></vue-table>
<vue-pagination v-with="pagination"></vue-pagination>

<a role="button" class="right" v-on="click : download()"
		target="dltarget">
	Download CSV
	<i class="fa fa-fw fa-download"></i>
</a>

<!-- Download target -->
<iframe width="0" height="0" src="{{ src }}"></iframe>
