<li>
	<div role="menuitem"
	     v-class="folder: hasChildren, selected: selected, open: open">

		<div
			v-on="click: onClick"
			v-style="padding-left: indent">

			<i class="fa fa-lg fa-fw"
				 v-class="fa-caret-right: !open, fa-caret-down: open"
				 v-on="click: toggleFolder"
				 style="cursor: pointer"></i>

			<i class="fa fa-check fa-lg fa-fw"></i>

			{{ title }}
		</div>
	</div>

	<ul v-if="hasChildren && open">
		<li v-repeat="children | orderBy sortBy sortDsc"
		    v-with="sortBy    : sortBy,
				        sortDsc   : sortDsc,
				        level     : level + 1,
				        selection : selection"
		    v-component="dropdown-item"></li>
	</ul>
</li>
