<div class="dropdown" role="menu" v-class="open: open">

	<a role="button" class="button menu-button" tabindex="0" v-on="click: toggle" v-attr="title: title">
		<label>{{ title }}</label>
		<div class="icon">
			<i class="fa fa-fw fa-lg fa-spinner fa-spin" v-if="loading"></i>
			<i class="fa fa-fw fa-lg fa-caret-down" v-if="!loading"></i>
		</div>
	</a>

	<div class="container"
	     v-class="hidden: !open"
	     v-style="left: this.menuX + 'px'">

		<div v-if="searchable" role="search">
			<input type="text" v-model="pattern" tabindex="1">
			<a class="clear-btn"
			   v-on="click: pattern = ''"
			   v-show="pattern.length > 0">
			   <i class="fa fa-times-circle"></i>
			</a>
		</div>

		<!-- Separate area for search results because I can't get the filtering to
		     work with the nested components. I keep getting an undefined setter for
		     the pattern property.
		     -->
		<ul v-if="isFiltered"
			  v-style="max-height: menuHeight + 'px',
			           max-width: menuWidth + 'px'">
			<li v-repeat="filtered | orderBy sortBy sortDsc">
				<div role="menuitem" v-class="selected: value | isSelected">
					<i class="fa fa-check fa-lg"></i>
					<span v-on="click: toggleItem(this)">{{ title }}</span>
				</div>
			</li>
		</ul>

		<ul v-if="!isFiltered"
		    v-style="max-height: menuHeight + 'px',
								 max-width: menuWidth + 'px'">

			<li v-repeat="itemTree | orderBy sortBy sortDsc"
			    v-with="sortBy    : sortBy,
					        sortDsc   : sortDsc,
									selection : selection"
					v-component="dropdown-item"></li>

		</ul>

		<div class="selection-controls" role="group" v-if="multi">
			<button class="tiny"
					type="button"
					title="Clear selection"
					v-on="click : clear()">
				clear selection
			</button>&nbsp;<button
					class="tiny"
					type="button"
					title="Invert selection"
					v-on="click : invert()">
				invert selection
			</button>&nbsp;<button
					class="tiny"
					type="button"
					title="Select all"
					v-on="click : selectAll()">
				select all
			</button>
		</div>

	</div>
	<!-- End container -->

</div>
