<div class="dropdown" role="menu" v-class="open: open">
	<a role="button" class="menu-button" tabindex="0" v-on="click: toggle" v-attr="title: title">
		<label>{{ title }}</label>
		<div class="icon">
			<i class="fa fa-fw fa-spinner fa-spin" v-if="loading"></i>
			<i class="fa fa-fw fa-caret-down" v-if="!loading"></i>
		</div>
	</a>
	<div class="container" v-class="hidden: !open">
		<form v-if="searchable" role="search">
			<input type="text" v-model="pattern" tabindex="1">
		</form>
		<ul v-style="max-height: menuHeight + 'px',
								 max-width: menuWidth + 'px'">
			<li role="menuitem"
					v-repeat="items | filterBy pattern 'title' | orderBy 'title'"
					v-class="selected : selected"
					v-on="click : onClick(this)">
				<i class="fa fa-check fa-lg"></i>&nbsp;{{ title }}
			</li>
			<li v-if="loading">
				Loading&hellip;
				<i class="fa fa-fw fa-spinner fa-spin"></i>
			</li>
		</ul>
		<div class="selection-controls" role="group" v-if="multi">
			<button class="tiny"
					type="button"
					title="Clear selection"
					v-on="click : clear()">
				clear selection
			</button>&nbsp;<button
					class="tiny"
					type="button"
					title="Invert selection"
					v-on="click : invert()">
				invert selection
			</button>&nbsp;<button
					class="tiny"
					type="button"
					title="Select all"
					v-on="click : selectAll()">
				select all
			</button>
		</div>
	</div>
</div>
