{% extends "datapoints/base.html" %}

{% block content %}
    {% if top_reporting_periods %}
    <table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>start date</th>
            <th>end date</th>
        </tr>
    </thead>

        {% for reporting_period in top_reporting_periods %}
        <tr>
            <th>{{ reporting_period.id }}</th>
            <th>{{ reporting_period.start_date }}</th>
            <th>{{ reporting_period.end_date }}</th>
        </tr>
        {% endfor %}

    </table>
{% else %}
    <p>No reporting Periods are available.</p>
{% endif %}
    <div align="right">
    <a href="{% url 'datapoints:create_reporting_period' %}"> <button type="submit" class="btn btn-primary">   Create New Reporing Period </button></a>
    </div>

{% endblock %}
