<h3>{{ location }}</h3>
<h4>{{ indicator }}:&emsp;{{ value }}</h4>
<h6>Distribution of Districts by Performance</h6>
<svg class="histogram" v-attr="width : width, height : height">
	<g transform="translate(16,0)">
		<g class="y axis">
			<text style="text-anchor:middle"
				v-attr="transform: 'translate(0,' + (height/2) + ') rotate(-90)'"
				dy="-6">
				Number of Districts
			</text>
		</g>
		<g class="x axis" transform="translate(0,120)">
			<line class="domain" v-attr="x2 : width"></line>
			<g v-repeat="ticks"
				v-attr="transform : 'translate(' + x + ',0)'"
				class="tick">
				<text v-text="value" text-anchor="middle" dy="1.2em" fill="#fff"></text>
			</g>
		</g>

		<g v-repeat="histogram"
			v-attr="transform : 'translate(' + x + ',' + y + ')'"
			v-class="current : current">

			<rect v-attr="width : width, height : height"></rect>

			<text v-text="value"
				v-attr="transform : 'translate(' + (width/2) + ',0)'"
				text-anchor="middle"
				class="label"
				dy="-.2em"
				></text>
		</g>
	</g>
</svg>

<div class="clearfix"></div>

<h6>Targets</h6>
<table class="indicator-ranges" style="float:left;margin:0 1em 0 0">
	<tbody>
		<tr v-repeat="targets">
			<th v-text="bound_name"></th>
			<td class="numeric" v-text="mn_val"></td>
			<td>&ndash;</td>
			<td v-text="mx_val"></td>
		</tr>
	</tbody>
</table>

<p>
	{{ reporting_locations }} / {{ total_locations }} locations reported values
	for {{ indicator }}.
</p>
