.dashboard-builder-container {
  width: 1000px;
  margin: 20px auto;

  .description {
    margin: 20px 10px;
    border: 1px solid #344B61;
  }

  .cd-title {
    font-size: 13px;
    margin-bottom: 4px;
    float: left;
    padding: 10px;
  }
}

.empty-dashboard-add-container {
  margin: 215px auto;
  width: 500px;
  text-align: center;
  .new-dashboard-font {
    font-size: 0.9rem;
  }
}

.cd-button {
  width: 50%;
  padding: 10px 64px;
  cursor: pointer;
  background-color: #344B61;
  color: #FEFEFE;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.625rem;
  margin: 20px 10px;
  &:hover {
    color: #FEFEFE !important;
    background-color: #426281;
  }
}

.cd-footer {
  background-color: #F3F3F3;

  .description-text {
    font-size: 11px;
    text-transform: uppercase;
    margin: 30px 0;
    text-align: right;
  }

  .description {
    margin: 20px 10px;
    border: 1px solid #344B61;
  }
}

