.dashboard-builder-container {
  width: 1000px;
  margin: 20px auto;

  .vis-box {
    width: 32%;
    display: inline-block;
    height: 300px;
    border: 1px solid #333;
    text-align: center;
    padding: 20px;
    font-size: 37px;
  }
}

.empty-dashboard-add-container {
  margin: 200px auto;
  width: 500px;
  text-align: center;
}

.dashboard-builder-controls {
  width: 500px;
}

.cd-button {
  width: 50%;
  padding: 10px 64px;
  cursor: pointer;
  background-color: #344B61;
  color: #FEFEFE;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.625rem;
  margin: 10px;
}

.cd-footer {
  background-color: #F3F3F3;

  .description-text {
    font-size: 13px;
    padding: 20px;
    text-align: -webkit-center;
    text-transform: uppercase;
  }

  .description {
    margin: 10px;
    border: 1px solid #344B61;
  }
}

