{% extends "datapoints/base.html" %}

{% block content %}

    {% if top_indicator_pct %}
    <table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>indicator part</th>
            <th>indicator whole</th>

        </tr>
    </thead>

        {% for row in top_indicator_pct %}
        <tr>
            <th>{{ row.id }}</th>
            <th>{{ row.indicator_pct_display_name }}</th>
            <th>{{ row.indicator_part }}</th>
            <th>{{ row.indicator_whole }}</th>

        </tr>
        {% endfor %}

    </table>
{% else %}
    <p>No indicators relations are available.</p>
{% endif %}
    <div align="right">
    <a href="{% url 'indicators:create_indicator_pct' %}"<button type="submit" class="btn btn-primary"> Create New Indicator Pct Relation </button></a>
    </div>

{% endblock %}
