<div class="row">
	<div class="small-12 columns">
		<h1 style="text-align:left">Raw Data</h1>
	</div>
</div>

<div class="row">

		<div class="medium-3 columns">

			<form class="inline">

				<label>

					<div>Time Period</div>
                    <div id="dateRangePicker"></div>

				</label>

				<div>
					<label for="locations">locations</label>
					<div id="locations"
							 placeholder="0 selected"
							 multi="true"
							 searchable="true"
               class="search-button"></div>
				</div>

				<div>
					<label for="indicators">Indicators</label>

	 				<div id="indicatorSelector"></div>
	 				<div id="indicatorList"></div>
	 			</div>

	 			<div>
					<a class="button success" role="button" v-on="click : refresh({ offset: 0 })"
					   v-class="disabled: !hasSelection"
					   style="margin-top:21px">
						<i class="fa fa-fw fa-refresh" v-class="fa-spin : table.loading"></i>&emsp;Load Data
					</a>
				</div>

			</form>

		</div>

		<div class="medium-9 columns">
			<vue-table v-with="table"></vue-table>

			<div class="medium-4 columns" style="text-align:right">
				<a role="button" class="button success" aria-label="Download All"
				   v-class="disabled: !hasSelection"
					 v-on="click : download()">
					<i class="fa fa-fw fa-download"></i>&emsp;Download All
				</a>
			</div>
		</div>
</div>

<!-- Download target -->
<iframe width="0" height="0" src="{{ src }}" class="hidden"></iframe>
