{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Polio Data Management App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static 'css/screen.css' %}">

</head>

<body class="login">
  <div class="wrapper">
    <p>Welcome, Please enter your Username and Password to Continue.</p> <p> If you do not have a login, please send an email to jdingee@unicef.org in order to gain access to the EOC Database.</p>

  	<form method="post" action="{% url 'login' %}">
  		{% csrf_token %}

  		<div class="form-group" style="background-color:white;">
  			{{ form.username.label_tag }}
  			{{ form.username }}
  		</div>

  		<div class="form-group" style="background-color:white;">
  			{{ form.password.label_tag }}
  			{{ form.password }}
  		</div>
  		<button type="submit" class="success expand">Login</button>

  		<input type="hidden" name="next" value="{{ next }}" />

  		{% if form.errors %}
  		<p class="error">
  			Your username and password didn't match. Please try again.
  		</p>
  		{% endif %}
  	</form>
  </div>
</body>

</html>
