{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %}RhizomeDB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700">

    <link rel="stylesheet" href="{% static 'css/screen.css' %}">
    <link rel="stylesheet" href="{% static 'css/print.css' %}" media="print">

</head>

<body class="{% block section %}{% endblock %}">

{#<style>#}
{#    #main-nav {#}
{#        display: none;#}
{#    }#}
{#</style>#}

<header class="no-print">
    <nav id="main-nav"></nav>
    <div class="row navigation-bar">
        <nav class="large-4 medium-4 columns">
            <ul class="channels">
                <li>
                    <a href="#" class="tab">
                        <i class="fa fa-lg fa-plus"></i><span>SOP</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="tab">
                        <i class="fa fa-lg fa-plus"></i><span>C4D</span>
                    </a>
                </li>
                <li class="tab active">
                    <a href="/">
                        <i class="fa fa-lg fa-times"></i><span>Data</span>
                    </a>
                </li>
            </ul>
        </nav>


        <div class="logo large-4 medium-4 columns">
            <img src="{% static 'img/RhizomeLogoWhiteResized.png' %}" alt="Rhizome Logo">
        </div>

        <nav class="large-4 medium-4 columns dashboard-control">
            <div id="dashboards-nav"></div>
        </nav>
    </div>

</header>

<div id="main" role="main">
    {% block nav %}{% endblock %}
    {% block content %}{% endblock %}

    <div id="tooltip" v-component="vue-tooltip"></div>
</div>

<footer>
    <nav class="actions">
        <ul>
            <li>
                <a href="/ufadmin/users" class="action">
                    <i class="fa fa-lg fa-cog"></i>
                    <span>Manage system</span>
                </a>
            </li>
            <li class="sub-nav">
                <a href="javascript:;" class="action">
                    <i class="fa fa-lg fa-plus"></i>
                    <span>Add Data</span>
                </a>
                <ul class="menu">
                    <li><a href="/datapoints/entry">Enter Data via Form</a></li>
                    <li><a href="/datapoints/source-data">Upload Data via CSV File</a></li>
                </ul>
            </li>
            <li>
                <a href="/" class="action">
                    <i class="fa fa-lg fa-list"></i>
                    <span>View raw data</span>
                </a>
            </li>
        </ul>
    </nav>
    <nav class="static-links">
        <ul>
            <li>
                <a href="/about" class="action">
                    <span>About</span>
                </a>
            </li>
            <li>
                <a href="#" class="action">
                    <span>Sitemap</span>
                </a>
            </li>
            <li>
                <a href="#" class="action">
                    <span>Report a bug</span>
                </a>
            </li>
            <li>
                <a href="#" class="action">
                    <span>Contact us</span>
                </a>
            </li>
        </ul>
    </nav>

</footer>

<script src="{% static 'js/vendor.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

{% block scripts %}{% endblock %}

</body>
</html>
