{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock %}RhizomeDB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

{#    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700">#}

    <link rel="stylesheet" href="{% static 'css/screen.css' %}">
    <link rel="stylesheet" href="{% static 'css/print-redesign.css' %}" media="print">

</head>

<body class="{% block section %}{% endblock %}">

<header class="no-print">
    <div class="row navigation-bar">
        <nav class="large-3 medium-4 small-4 columns">
            <ul class="channels raw">
                <li class="small-4 columns">
                    <a href="http://69.28.84.217:8080/web/guest/sop" class="tab">
                        <i class="fa fa-plus"></i><span>SOP</span>
                    </a>
                </li>
                <li class="small-4 columns">
                    <a href="http://69.28.84.217:8080/web/guest/c4d" class="tab">
                        <i class="fa fa-plus"></i><span>C4D</span>
                    </a>
                </li>
                <li class="small-4 columns tab active">
                    <a href="/">
                        <i class="fa fa-plus"></i><span>Data</span>
                    </a>
                </li>
            </ul>
        </nav>


        <div class="large-6 medium-4 small-4 columns logo">
            <a href="/">
                <img class="image-style" src="{% static 'img/layout_set_logo.png' %}" alt="Rhizome Logo">
            </a>
        </div>

        <nav class="large-3 medium-4 small-4 columns dashboard-control">
            <div id="dashboards-nav" class="row"></div>
        </nav>
    </div>

</header>

<div id="main" role="main">
    {% block nav %}{% endblock %}
    {% block content %}{% endblock %}

    <div id="tooltip" v-component="vue-tooltip"></div>
</div>

<footer class="row">
    <nav class="small-6 columns actions">
        <ul>
            <li>
                <a href="/datapoints/data_browser" class="action">
                    <span><i class="fa fa-list"></i>
                      View raw data</span>
                </a>
            </li>
            <li>
                <a href="/manage_system/users" class="action">
                    <span><i class="fa fa-cog"></i>
                      Manage system</span>
                </a>
            </li>
            <li>
                <a href="/datapoints/entry"  class="action">
                  <span><i class="fa fa-plus"></i>
                    Data Entry</span>
              </a>
            </li>
            <li>
                <a href="/datapoints/source-data"  class="action">
                  <span><i class="fa fa-file"></i>
                    Source Data</span>
              </a>
            </li>
        </ul>
    </nav>
    <nav class="small-6 columns static-links">
        <ul>
            <li>
                <a href="/about" class="action">
                    <span>About</span>
                </a>
            </li>
            <li>
                <a href="#" class="action">
                    <span>Sitemap</span>
                </a>
            </li>
            <li>
                <a href="#" class="action">
                    <span>Report a bug</span>
                </a>
            </li>
            <li>
                <a href="#" class="action">
                    <span>Contact us</span>
                </a>
            </li>
        </ul>
    </nav>

</footer>

<script src="{% static 'js/vendor.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

{% block scripts %}{% endblock %}

</body>
</html>
