{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">

	<title>Polio Data Management App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
	<link rel="stylesheet" href="{% static "css/screen.css" %}">
	<link rel="stylesheet" href="{% static "css/print.css" %}" media="print">
</head>

<body class="{% block section %}{% endblock %}">
	<header class="no-print">
		<nav>
			<ul>
				<li class="home"><a href="/">
					<i class="fa fa-home fa-lg"></i>&emsp;Home
				</a></li>

				<li class="dashboard"><a href="{% url 'datapoints:dashboard' %}">
					<i class="fa fa-bar-chart fa-lg"></i>&emsp;Explore Data
				</a></li>

				<li class="data"><a href="{% url 'datapoints:datapoint_index' %}">
					<i class="fa fa-table fa-lg"></i>&emsp;View Data
				</a></li>

				<li class="data-entry"><a href="{% url 'datapoints:datapoint_entry' %}">
					<i class="fa fa-pencil-square-o fa-lg"></i>&emsp;Enter Data
				</a></li>

				<li><a href="/admin">
					<i class="fa fa-cogs"></i>&emsp;Manage System
				</a></li>
			</ul>
			<ul class="right">
				<li>
					<a href="{% url 'logout' %}?next=/" title="logout">
						log out&emsp;<i class="fa fa-lg fa-sign-out"></i>
					</a>
				</li>
			</ul>
		</nav>
	</header>

	<div id="main" role="main">
		{% block nav %}{% endblock %}
		{% block content %}{% endblock %}

		<div id="tooltip" v-component="vue-tooltip"></div>
	</div>

	<script>
	if ('ActiveXObject' in window) {
		var body = document.getElementsByTagName('body')[0];
		body.classList.add('ie');
	}
	</script>

	<!-- Polyfill for Promises (not yet implemented in IE) and
	     Promise.prototype.done (not standardized yet).
	     -->
	<script src="https://www.promisejs.org/polyfills/promise-6.0.0.min.js"></script>
	<script src="{% static 'main.js' %}"></script>
	{% block scripts %}{% endblock %}

</body>
</html>
