{% extends "base.html" %}
{% block section %}home{% endblock %}

{% block content %}
<div class="charts">
    <div class="chart-panel">
            <h5>Afghanistan</h5>
            <carousel>
                <chart></chart>
            </carousel>

        <ul class="chart-button-group">
            <li class="chart-button">Country overview</li>
            <li class="chart-button">District summary</li>
        </ul>
    </div>

    <div class="chart-panel">
            <h5>Afghanistan</h5>
            <carousel>
                <chart></chart>
            </carousel>

        <ul class="chart-button-group">
            <li class="chart-button">Country overview</li>
            <li class="chart-button">District summary</li>
        </ul>
    </div>

    <div class="chart-panel">
            <h5>Afghanistan</h5>
            <carousel>
                <chart></chart>
            </carousel>

        <ul class="chart-button-group">
            <li class="chart-button">Country overview</li>
            <li class="chart-button">District summary</li>
        </ul>
    </div>

{#    <div class="chart-panel large-4 medium-4 columns">#}
{#        <div class="chart-panel-content">#}
{#            <h5>Pakistan</h5>#}
{#            <carousel>#}
{#                <chart></chart>#}
{#            </carousel>#}
{##}
{#            <div class="chart-button">#}
{#                Country overview#}
{#            </div>#}
{#            <div class="chart-button">#}
{#                District summary#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="chart-panel large-4 medium-4 columns">#}
{#        <div class="chart-panel-content">#}
{#            <h5>Nigeria</h5>#}
{#            <carousel>#}
{#                <chart></chart>#}
{#            </carousel>#}
{##}
{#            <div class="chart-button">#}
{#                Country overview#}
{#            </div>#}
{#            <div class="chart-button">#}
{#                District summary#}
{#            </div>#}
{#            <div class="chart-button">#}
{#                NGA Campaign Monitoring#}
{#            </div>#}
{#        </div>#}
{##}
{#    </div>#}
</div>
{% endblock %}