{% extends "base.html" %}
{% block content %}
<div class="row">
	<div class="medium-9 columns">

		<div class="row">
			<div class="small-12 columns">
				<p>
					Welcome to UNICEF&rsquo;s Polio Eradication data portal.
				</p>

				<h2>Recent Campaigns</h2>
				<table></table>
				<a href="">see all campaigns</a>
			</div>
		</div>

		<div class="row">
			<div class="medium-4 columns">
				<h2>Enter Data</h2>
				{% spaceless %}
				<a class="button">
					<i class="fa fa-table"></i>&emsp;Data Entry Form
				</a>&emsp;
				<a class="button">
					<i class="fa fa-upload"></i>&emsp;Upload data
				</a>
				{% endspaceless %}
			</div>
			<div class="medium-8 columns">
				<h2>Recent CSV Uploads</h2>
				<table></table>
				<a href="">see all uploads</a>
			</div>
		</div>

	</div>

	<div class="medium-3 columns">
		<h2>About</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat mi
			nec odio egestas bibendum. Praesent tincidunt et neque in vestibulum.
			Quisque eget enim ipsum.&ensp;<a href="/about" style="white-space:nowrap">
			<i class="fa fa-info-circle"></i> Learn more
			</a>
		</p>
	</div>
</div>
{% endblock %}
