{% extends "base.html" %}


{% block content %}
    <div class="row ">
        <div class="small-centered large-centered large-6 small-6 columns admin-notify-error-form">
            <form action="" method="post" class="form">
                <h2>
                    New User
                    {% if form.errors %}
                        <span class="error">An error occurred ...</span>
                    {% endif %}
                </h2>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary"> Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
