{% extends "datapoints/base.html" %}

{% block content %}

   <li><a href="{% url 'indicators:indicator_relationship_index' %}">Indicator Relationships</a></li>
   <br>   
    {% if top_indicators %}
    <table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>description</th>
            <th>edit</th>
        </tr>
    </thead>

        {% for indicator in top_indicators %}
        <tr>
            <th>{{ indicator.id }}</th>
            <th>{{ indicator.name }}</th>
            <th>{{ indicator.description }}</th>
            <th><a href="{% url 'indicators:update_indicator' indicator.id %}"> edit </a></th>
        </tr>
        {% endfor %}

    </table>
{% else %}
    <p>No indicators are available.</p>
{% endif %}
    <div align="right">
    <a href="{% url 'indicators:create_indicator' %}"<button type="submit" class="btn btn-primary"> Create New Indicator </button></a>
    </div>

{% endblock %}