
{% extends "base.html" %}

{% block content %}


<div class="row">
	<div class="small-centered large-centered large-6 small-6 columns">
		<form action="" method="post">
			<h2>Edit Indicator</h2>
			{% csrf_token %}
			{{ form.name }}
			{{ form.short_name }}
			<button type="submit">Save Indicator</button>
		</form>
		<div v-component="uf-simple-form" v-with="user_id:user_id"></div>

	</div>
</div>

{% endblock %}

{% block scripts %}
<script>
Polio.SimpleForm('#main',{{pk}});
</script>
{% endblock %}
