
<div
   id="indicators"
   data-change-event="field-selected"
   data-searchable="true"
   full-size-menu="true"
   style="width: 150px;"
   >
      <a class="button">
        add an indicator
      </a>
</div>

  <div class="row">

     <div class="columns small-4 left-box">
       <div class="label-box">
        BLAA
       </div>
       <div class="columns small-8 right-box">
         <table class="region-table">
             <thead>
                 <tr>
                     <th>id </th>
                     <th  style="width: 126px;">Name</th>
                     <th style="width: 70px;">Short Name</th>
                 </tr>
             </thead>
            <tbody>
	            <tr v-repeat="indicator:indicators">
	              <td>
	               {{indicator.id}}
	              </td>
                <td>
	               {{indicator.name}}
	              </td>
                <td>
	               {{indicator.short_name}}
	              </td>
	            </tr>
	            <tr v-if="regionalAccessLoading"><td colspan="3"><span class="fa fa-fw fa-lg fa-spinner fa-spin"></span></td></tr>
	            <tr v-if="region_permissions && region_permissions.length==0"><td colspan="3">No regions added</td></tr>
            </tbody>
         </table>

       </div>
    </div>

  </div>
