{% load staticfiles %}
{% load settings_value %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}RhizomeDB</title>
  <link rel="stylesheet" href="{% static "css/screen.css" %}">
  <link rel="stylesheet" href="{% static "css/print-redesign.css" %}" media="print">
</head>

<body class="{% block section %}{% endblock %}">
  <header class="no-print">
    <div class="row navigation-bar">

<!--       <nav class="large-3 medium-4 small-4 columns">
        <ul class="channels raw">
          <li class="small-4 columns">
            <a href="http://69.28.84.217:8080/web/guest/sop" class="tab"><i class="fa fa-plus"></i>SOP</a>
          </li>
          <li class="small-4 columns">
            <a href="http://69.28.84.217:8080/web/guest/c4d" class="tab"><i class="fa fa-plus"></i>C4D</a>
          </li>
          <li class="small-4 columns tab active"><a href="/"><i class="fa fa-plus"></i>Data</a></li>
        </ul>
      </nav> -->

      <!-- src="{% static 'img/' %}{% settings_value "LOGO_FILENAME" %}" -->

      <a href="/" class="logo">
        <img
          class="image-style"
          src="{% static 'img/RhizomeAfghanEOC.jpg' %}"
          alt="{% settings_value "LOGO_ALT" %}">
      </a>

      <nav class="dashboard-control">
        <div id="dashboards-nav"></div>
      </nav>
    </div>
  </header>

  <div id="main" role="main">
    {% block nav %}{% endblock %}
    {% block content %}{% endblock %}
  </div>

  <footer class="row main-footer">
    <nav>
      <ul class="left actions inline-list">
        <li><a href="/manage_system/users"><i class="fa fa-cog"></i>Manage System</a></li>
        <li><a href="/source-data" ><i class="fa fa-file"></i>Source Data</a></li>
        <!-- <li><a href="/entry" ><i class="fa fa-plus"></i>Enter Data</a></li> -->
      </ul>
      <ul class="right static-links inline-list">
        <li><a href="#"></a></li>
        <!-- <li><a href="about">about</a></li>
        <li><a href="#">Sitemap</a></li>
        <li><a href="#">Report a bug</a></li>
        <li><a href="#">Contact us</a></li> -->
      </ul>
      <div class="clearfix"></div>
    </nav>
  </footer>

  <script src="{% static "js/vendor.js" %}"></script>
  <script src="{% static "js/main.js" %}"></script>
  {% block scripts %}{% endblock %}

</body>
</html>
