<svg class="line" v-attr="width: width, height: height">
	<g transform="translate({{ margin.left }}, {{ margin.top }})">
		<rect class="bg" v-attr="width: contentWidth, height: contentHeight"></rect>
		<g class="axis y">
			<g v-repeat="yTicks" transform="translate(0, {{ $value | y }})">
				<text dx="2" dy="-4">{{ $value }}</text>
				<line v-attr="x2: xMax"></line>
			</g>
		</g>
		<g>
			<path class="series" v-repeat="s: series" v-attr="d: s | line"
					style="stroke: black;stroke-width:1px;fill: none"></path>
		</g>

		<g class="axis x"></g>
	</g>
</svg>
