{% extends "datapoints/base.html" %}

{% block content %}
{% if top_campaigns %}
<table class="table table-hover table-bordered">
	<thead>
    <tr>
      <th>ID</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Slug</th>
    </tr>
	</thead>

  {% for campaign in top_campaigns %}
  <tr>
    <td>{{ campaign.id }}</td>
    <td>{{ campaign.start_date }}</td>
    <td>{{ campaign.end_date }}</td>
    <td>{{ campaign.slug }}</td>
  </tr>
  {% endfor %}
</table>

{% else %}
<p>No campaigns are available.</p>
{% endif %}
<div align="right">
	<a href="{% url 'datapoints:create_campaign' %}" role="button" class="primary">
		<i class="fa fa-plus fa-lg"></i>&emsp;
		Create New Campaign
	</a>
</div>

{% endblock %}
