{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="small-centered large-centered large-6 small-6 columns admin-notify-error-form">
            <form action="" method="post" class="form">
                <h2>Edit Campaign</h2>
                {% if form.errors %}
                    <span class="error">An error occurred ...</span>{% endif %}
                {% csrf_token %}
                {{ form.as_p }}
                <p class="date-picker-button-container">
                    <button type="submit" class="btn btn-primary">Save Campaign</button>
                </p>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        Polio.CampaignsPage('id_start_date', 'id_end_date');
    </script>
{% endblock %}