
{% extends "datapoints/base.html" %}
  {% block content %}

        <a href="{% url 'source_data:refresh_master_by_document_id' document_id %}"<button type=\
            "submit" class="btn btn-primary btn-sm"> Refresh Master </button></a></th>


        <h> </h>
        <br>
        <br>
        <br>

        {% if to_review %}
        <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Region</th>
                <th>Campaign</th>
                <th>Indicator</th>
                <th>Value</th>
                <th>Flag</th>
            </tr>
        </thead>

            {% for sdp in to_review %}
            <tr>
                <th>{{ sdp.id }}</th>
                <th>{{ sdp.region_string }}</th>
                <th>{{ sdp.campaign_string }}</th>
                <th>{{ sdp.indicator_string }}</th>
                <th>{{ sdp.cell_value }}</th>
                <th> <button type="submit" class="btn btn-danger"> flag!</button></th>

            </tr>
            {% endfor %}
        </table>
        {% else %}
    <p>No datapoints are available.</p>
    {% endif %}

{% endblock %}
