
{% extends "datapoints/base.html" %}
  {% block content %}

        <h1>Please Map The columns of your Upload</h1>
        <br>

        Campaign Column : <select id="campaign" name="campaign">

          {% for header in header_list %}
            <option value= "{{header}}">
             {{header}}
             </option>
          {% endfor %}
        </select>

        <br><br>

      Region Column:  <select id="region" name="region">
        {% for header in header_list %}
          <option value= "{{header}}">
           {{header}}
           </option>
        {% endfor %}
        </select>

      <br><br>

      Indicator Column:  <select id="indicator" name="indicator">
        {% for header in header_list %}
          <option value= "{{header}}">
           {{header}}
           </option>
        {% endfor %}
        </select>



      <br><br><br>

      <!-- <input class="btn btn-primary btn-sm" type="submit" value="Map Headers!" /> -->

      <a href="{% url 'source_data:refresh_master_by_document_id' document_id %}"<button type=\
          "submit" class="btn btn-primary btn-sm"> Map Headers and Continue </button></a></th>
      </form>


      {% if to_review %}
        <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Region</th>
                <th>Campaign</th>
                <th>Indicator</th>
                <th>Value</th>
                <th>Flag</th>
            </tr>
        </thead>

            {% for sdp in to_review %}
            <tr>
                <th>{{ sdp.id }}</th>
                <th>{{ sdp.region_string }}</th>
                <th>{{ sdp.campaign_string }}</th>
                <th>{{ sdp.indicator_string }}</th>
                <th>{{ sdp.cell_value }}</th>
                <th> <button type="submit" class="btn btn-danger"> flag!</button></th>

            </tr>
            {% endfor %}
        </table>
        {% else %}
    <p>No Source Datapoints Have Been Created yet....</p>
    {% endif %}

{% endblock %}
