{% extends "datapoints/base.html" %}
  {% block content %}
    <body>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if doc_data %}
        <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Error</th>
                <th>Affected Records</th>
                <th>Validate</th>
            </tr>
        </thead>
        <tbody>
            {% for error in doc_data %}
            <tr>
                <th>{{ error.problem }}</th>
                <th>{{ error.recs }}</th>
                <th><a href="{% url 'source_data:to_map' %}"> Edit </a></th>

            </tr>
        </tbody>
        {% endfor %}
        </table>
        {% endif %}
{% endblock %}
