{% extends "datapoints/base.html" %}
{% block content %}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}


<br><br>
<p>
	For Excel uploads, please upload one, sheet and place it as the first sheet
	in the workbook
</p>

<form action="{% url 'upload:file_upload' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <p>{{ form.non_field_errors }}</p>
  <br><br>
  <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
  <br><br>
  <p>{{ form.docfile.errors }} {{ form.docfile }}</p>
  <br>
  <select name="file_type">
    <option value="Datapoint">Datapoint</option>
    <option value="Region">Region</option>
  </select name="movie">

  <br><br>
  Indicator Column <input type="text" name="indicator_col" size="25"> leave blank if indicators are column headers
  <br><br>
  Region Column <input type="text" name="region_col" size="25">
  <br><br>
  Campaign Column <input type="text" name="campaign_col" size="25">
  <br>
<br><br>

	<button type="submit" class="btn btn-primary"> Upload! </button></a>
</form>

{% endblock %}
