{% extends "datapoints/base.html" %}
  {% block content %}
    <body>

        For Excel uploads, please upload one, sheet and place it as the first sheet in the workbook

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <form action="{% url 'upload:file_upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>
             <button type="submit" class="btn btn-primary"> Upload! </button></a>

        </form>
    </body>

{% endblock %}
