{% extends "base.html" %}

{% block title %}Upload Data - {% endblock %}
{% block section %}data{% endblock %}

{% block content %}
{% if messages %}
<h3><ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul></h3>
{% endif %}


<br><br>
<p>
	For Excel uploads, please upload one, sheet and place it as the first sheet
	in the workbook
</p>

<form action="{% url 'source_data:file_upload' %}" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <p>{{ form.non_field_errors }}</p>
  <br><br>
  <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
  <br><br>
  <p>{{ form.docfile.errors }} {{ form.docfile }}</p>
  <br>
	<button type="submit" class="btn btn-primary"> Upload! </button></a>
</form>

{% endblock %}
