{% extends "base.html" %}
{% block content %}

<div>

  {% if messages %}
  <h3><ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul></h3>
  {% endif %}


  <form action="{% url 'source_data:process_file' document_id %}" method="GET">
    Uniqe ID Column <select id="uq_id_column" name="uq_id_column">
    {% for column in file_columns %}
    <option value="{{column}}"> {{column}} </option>
    {% endfor %}

  </select>Select Campaign Column <select id="campaign_column" name="campaign_column">
    {% for column in file_columns %}
       <option value="{{column}}">{{column}}</option>
    {% endfor %}
  </select>

  Select Region Code Column <select id="region_column" name="region_column">
    {% for column in file_columns %}
       <option value="{{column}}"> {{column}} </option>
    {% endfor %}
  </select>

  Select Region Display Column <select id="region_display_name" name="region_display_name">
    {% for column in file_columns %}
       <option value="{{column}}"> {{column}} </option>
    {% endfor %}
  </select>


  Select User Column <select id="username_column" name="username_column">
  {% for column in file_columns %}
  <option value="{{column}}"> {{column}} </option>
  {% endfor %}
  </select>

  Select Photo Column <select id="image_col" name="image_col">
  {% for column in file_columns %}
  <option value="{{column}}"> {{column}} </option>
  {% endfor %}
  </select>

  <button type="submit" class="btn btn-primary"> Map! </button></a>

  </form>

</div>

{% endblock %}
