.button,
*[role="button"] {
  background-color: $rhz-button-bg-color;
  color: $rhz-font-color;
  font-size: .7rem;
  border-style: hidden;
  font-family: adelle;
  letter-spacing: 1px;
	margin: .5rem .5rem .5rem 0;
  &:not(.disabled):not(.success):not(.icon-button):hover {
    background-color: #426281;
    color: $rhz-font-color;
  }
  &:focus {
    outline: none;
  }
  &.icon-button {
    background: none;
    padding: .1rem;
    font-size: 1rem;
    color: $rhz-body-color;
    margin: 0;
    position: relative;
    top: -.2rem;
    left: .25rem;
    cursor: pointer;
  }
  &.expand {
    font-size: .9rem;
    padding: .5rem 0 .55rem 0;
  }
  &.field-submit {
    @media screen and (min-width: 64em) {
      margin-top: 1.36rem;
    }
  }
}



.search-button {
  background-color: #FAFAFA;
  .icon {
    color: #000000;
  }
  &:not(.disabled):not(.success):hover {
    background-color: #FAFAFA;
  }
}

.button-bar {
  .button-bar__edit {
    display: inline-block;
    padding: 0 3px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      color: darken(white, 20%);
    }
  }
}

.button.read-only {
  color: $rhz-font-color;
  &:not(.disabled):not(.success):hover {
    background-color: #426281;
    color: $rhz-font-color;
  }
}