@font-face {
  font-family: 'proxima';
  src: url("../fonts/proximanova-regular-webfont_0-webfont.eot");
  src: url("../fonts/proximanova-regular-webfont_0-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/proximanova-regular-webfont_0-webfont.woff") format("woff"),
  url("../fonts/proximanova-regular-webfont_0-webfont.ttf") format("truetype"),
  url("../fonts/proximanova-regular-webfont_0-webfont.svg#proxima") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proxima-bold';
  src: url("../fonts/proximanovacond-semibold-webfont.eot");
  src: url("../fonts/proximanovacond-semibold-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/proximanovacond-semibold-webfont.woff") format("woff"),
  url("../fonts/proximanovacond-semibold-webfont.ttf") format("truetype"),
  url("../fonts/proximanovacond-semibold-webfont.svg#proxima-bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'adelle';
  src: url("../fonts/adelleregularwebfont.eot");
  src: url("../fonts/adelleregularwebfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/adelleregularwebfont.woff") format("woff"),
  url("../fonts/adelleregularwebfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'adelle-italic';
  src: url("../fonts/adelle_italic-webfont.eot");
  src: url("../fonts/adelle_italic-webfont.eot?#iefix") format("embedded-opentype"),
  url("../fonts/adelle_italic-webfont.woff") format("woff"),
  url("../fonts/adelle_italic-webfont.ttf") format("truetype"),
  url("../fonts/adelle_italic-webfont.svg#adelle-italic") format("svg");
  font-weight: normal;
  font-style: normal;
}