footer.main-footer {
  background-color: $rhz-navigation-bg-color;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 9999;
  min-width: 100%;
  > nav ul {
    margin-bottom: 0;
    li {
      margin-left: 0;
    }
    a {
      display: block;
      font-size: 0.8rem;
      color: $rhz-navigation-color;
      opacity: 1;
      text-transform: uppercase;
      padding: 15px;
      &:hover {
        color: $rhz-background-color;
      }
    }
    &.actions {
      text-align: left;
      margin-left: 0;
    }
    &.static-links {
      text-align: right;
    }
  }
  .fa {
    margin-right: 5px;
  }
}

footer.hideable {
  transition: all .7s ease 0s;
  z-index: 100;
  display: block;
  bottom: 3.1rem;
  .footer-toggle-button {
    font-size: .8rem;
    padding-top: 0.6rem;
    padding-bottom: 0.5rem;
    border-top-left-radius: 3px;
    outline: none;
    border: none;
    color: white;
    background: $rhz-footer-bg-color;
    position: absolute;
    right: 0;
    text-decoration: underline;
    top: -1.9rem;
    @media #{$small-only} {
      display: none;
    }
  }
  @media #{$small-only} {
    display: inline-block;
    position: relative;
    top: 3.3rem;
    bottom: 0;
  }
  &.descended {
    bottom: -3.4rem;
  }
}