footer.main-footer {
  background-color: $rhz-navigation-bg-color;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 9997;
  min-width: 100%;
  > nav ul {
    margin-bottom: 0;
    li {
      margin-left: 0;
    }
    a {
      display: block;
      font-size: 0.8rem;
      color: $rhz-navigation-color;
      opacity: 1;
      text-transform: uppercase;
      padding: 15px;
      &:hover {
        color: $rhz-background-color;
      }
    }
    &.actions {
      text-align: left;
      margin-left: 0;
    }
    &.static-links {
      text-align: right;
    }
  }
  .fa {
    margin-right: 5px;
  }
}

