form {
  &.inline {
    button,
    .button {
      @include button-size($button-tny, true);
      margin-bottom: rem-calc(5);
    }
  }

  .dropdown {
    .menu-button {
      margin-bottom: rem-calc(5);
      padding-left: rem-calc(12);
      padding-right: 2rem;
      text-align: left;
      border-bottom-width: 3px;
      border-bottom-color: #667c89;
    }

    .selection-controls {
      button,
      .button {
      	@include button-size($button-tny);
      	width: auto;
        margin-bottom: rem-calc(5);
      }
    }
  }

  .clear-btn {
  	color: $base;
  }

}

.radio-group {
  input:last-of-type {
    margin-left: 1rem;
  }
}

input[type='radio'] {
  margin-right: .25rem;
}

input[type="text"],
input[type="password"],
.text-field {
	border-bottom: 2px solid lighten($primary-color, 20%);
	transition: border 300ms ease-in-out;
	&:focus {
		box-shadow: none;
		outline: none;
	}
}

.text-right{
  text-align: right;
}

input.title-input {
  background: transparent;
  margin: 0;
  border: none;
  top: -.05rem;
  color: white;
  text-align: center;
  margin-left: 6rem;
  font-size: 1.25rem;
  width: 20rem;
  display: inline-block;
  @media #{$small-only} {
    margin: 0 auto;
    width: 18rem;
  }
  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  &:focus {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
    color: white;
  }
}
