ul.list, .reorderable-list {
  margin-left: 0px;

  li, div.reorderable-item {
    list-style: none;
    position: relative;
    margin-bottom: 2px;
    padding: 8px;
    padding-right: 4px;
    border: 1px solid #BBC6D1;
    background-color: #fafafa;
    color: #333;
    .clear-btn {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 14px;
    }
    .fa-times-circle {
      font-size: 1.1rem;
    }
  }
  div.reorderable-item {
    cursor: grab;
  }
}
