ul.list, .reorderable-list {
  margin-left: 0px;

  li, div.reorderable-item {
    list-style: none;
    position: relative;
    margin-bottom: 2px;
    padding: 8px;
    padding-right: 1.5rem;
    border: 1px solid #BBC6D1;
    background-color: #fafafa;
    color: #333;
    border: none;
    padding-left: 0;
    background: none;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    font-size: 0.85rem;
    &:last-child {
      border-bottom: none;
    }
    .color-picker-icon {
      float: left;
      margin-right: .5rem;
    }
    .clear-btn {
      position: absolute;
      right: 0;
      left: initial;
      font-size: 14px;
      color: rgba(0, 0, 0, .5);
      transform: translateY(100%);
      margin-top: -.6rem;
      &:hover {
        color: rgba(0, 0, 0, .65);
      }
    }
    .fa-times-circle {
      font-size: 1.1rem;
    }
  }
  div.reorderable-item {
    cursor: grab;
    &.placeholder {
      background-color: rgba(0, 0, 0, .05);
    }
  }
}
