.multi-chart {
	background: white;
	overflow-x: auto;
	margin-top: 1rem;
	margin-bottom: 2rem;
	margin-left: 1%;
	margin-right: 1%;
	width: 98%;
	header {
		background: white;
		text-align: center;
	  h1, h2, h3, h4, h5, h6, p {
	  	text-transform: none;
	  	position: relative;
	  	.icon-button {
	  		font-size: 1rem;
	  		top: .025rem;
	  	}
	  	margin: 0;
	    color: $rhz-body-color;
	  }
		h1, input, .icon-button {
			position: relative;
			z-index: 300;
		}
		h2 {
			font-family: adelle;
			font-size: 1.4rem;
			margin-top: 1.5rem;
			margin-bottom: .1rem;
			display: block;
			font-weight: 700;
			a {
				font-size: 1.4rem;
				&:hover {
					color: $rhz-body-color;
				}
			}
			@media #{$small-only} {
				border-top: 1px solid #DBDBDB;
				width: 100%;
				padding: .8rem 0;
			}
		}
		form {
			display: inline-block;
			input {
				text-align: center;
			}
			.icon-button {
				top: .1rem;
			}
		}
		.icon-button {
			color: $rhz-body-color;
	    left: initial;
			font-size: 1.2rem;
			padding: 0.5rem 0.7rem;
		}
	  .chart-actions {
			position: absolute;
			right: 0;
			top: 1rem;
	  }
	  .chart-options-button {
    	color: $rhz-body-color;
	  	position: absolute;
	    padding: 1rem 0.3rem;
	    padding-left: 0.6rem;
    }
	}
	section {
		display: flex;
		@media #{$small-only} {
			flex-direction: column;
		}
	}
	.chart-zone {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	aside {
		background: #F1F1F1;
		box-shadow: -1px 2px 4px grey;
		padding-top: 1rem;
		padding-bottom: 5rem;
		position: relative;
		z-index: 150;
		top: -3px;
		.rw-dropdownlist {
			margin-right: 1.3rem;
		}
		.remove-filters-link {
			text-decoration: underline;
			text-align: center;
			width: 100%;
	    margin-top: 0.4rem;
	    display: inline-block;
		}
		.row.collapse .medium-6:last-of-type {
			padding-left: 0.5rem;
		}
		@media #{$small-only} {
			padding-top: 0;
			h3 {
				margin-top: 1rem;
				font-size: 1rem;
			}
		}
	  .chart-options-button {
	    right: initial;
	    top: 0rem;
	    left: -1.7rem;
	    padding: 1rem 0.3rem;
  	  padding-left: 0.6rem;
	  }
	}
  .chart-options-button {
  	z-index: 140;
  	position: absolute;
  	right: 0;
    top: 2.3rem;
    background: #f1f1f1;
	  box-shadow: -1px 1px 1px grey;
    padding: 1rem 0.3rem;
    padding-left: 0.6rem;
    i {
    	font-size: 1.4rem;
    }
  }
  &.no-frame {
  	padding: 0;
  	.chart-zone {
  		padding-top: 0;
  		padding-bottom: 0;
  	}
  	table {
  		margin: 0;
  	}
  }
}