nav.dashboard-control {
  display: inline-block;
  float: right;
}
ul.dashboards-nav {
  display: inline-block;
  position: relative;
  .header-search-field {
    &:hover {
      background-color: black;
    }
    padding-right: 1rem;
    padding-left: 1rem;
    input {
      background-color: rgba(255, 255, 255, 0.2);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
      color: white;
      font-size: 1rem;
      padding: 1.3rem 0.5rem;
      margin-top: 1.2rem;
      position: relative;
      top: 0.3rem;
      &::placeholder {
        color: #D6D6D6;
      }
    }
  }
  @include clearfix();
  .cta-menu-item {
    background: lighten($rhz-button-bg-color, 10%);
  }
  .log-out {
      text-align: center;
    }

  > li {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: left;
    background-color: $rhz-navigation-bg-color;
    &:hover {
      background-color: $rhz-navigation-hover-bg-color;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.5);
      .dashboard-menu {
        display: block;
      }
    }

    > a {
      height: $header-height;
      opacity: 1;
      text-transform: uppercase;
      text-align: left;
      font-size: 1rem;
      display: block;
      padding: 2rem;
      position: relative;
      top: .4rem;
    }
  }
}

.dashboard-menu {
  display: none;
  position: absolute;
  margin: 0;
  background-color: $rhz-navigation-hover-bg-color;
  width: 300px; //todo:
  z-index: 10001;
  box-shadow: -1px 2px 3px grey;
  > li {
    display: block;
    margin: 0;
    border: none;
    text-align: left;
    overflow-x: hidden;
    &.main-item {
      background: $primary-color;
      border-bottom: 1px solid white;
    }
    hr {
      margin: 0.5em 0 0.5em;
    }
    a {
      color: $rhz-font-color;
      font-size: 1rem;
      display: block;
      padding: 5px 10px;
      opacity: 1;
      overflow-x: hidden;
      text-overflow: ellipsis;
      text-transform: uppercase;
      font-size: 0.8rem;
      color: $rhz-font-color;
      &:hover {
        background-color: $rhz-button-bg-color;
      }
    }
  }

  .allCustomDashboards {
    text-decoration: underline;
    a {
      font-size: 0.6rem;
      text-transform: lowercase;
    }
  }
}