table {
  border: 1px solid #DDDDDD;
  border-collapse: collapse;
  margin-top: 10pt;
  width: 100%;

  thead {
    tr {
      th {
        color: $rhz-body-color;
        padding: 0.5rem 0.625rem 0.625rem;
        text-align: left;
        text-transform: uppercase;
        font-family: proxima-bold;
        a {
          color: white;
        }
        .ds-data-table-sort-indicator {
          position: absolute;
        }
      }
    }
  }

  tbody {
    tr:not(.empty) {
      &:hover {
        // td {
          background-color: $ghost;
        // }
      }
      td.editable {
        &:hover {
          border-bottom: 2px solid #ffcc67;
        }
      }
    }
  }

  td {
    background-color: white;
    cursor: default;
    font-size: .6875rem;
    padding: 3pt 0;
    input[type=text] {
      font-size: .85rem;
      text-align: left;
      margin: 0;
    }
    &.editable {
      &.in-edit-mode {
        padding: 0;
      }
      &:hover {
        background: #DDDDDD;
      }
      &.missing {
        background-color: #E2E2E2// #FFEB86// rgb(255, 235, 134);
      }
      &.error {
        background-color: #FF9081;
      }
    }
  }




  tfoot {
    td {
      background-color: #DDDDDD;
      padding: 0;

      &.more {
        font-size: rem-calc(10);
        text-align: center;

        &:hover {
          background-color: #DDDDDD;
        }

        a {
          color: $body-font-color;
          display: block;
          font-weight: bold;
          opacity: 0.6;

          transition: opacity 300ms ease-in-out;

          &:hover {
            color: inherit;
            opacity: 1;
          }
        }
      }
    }
  }

  .empty {
    td {
      background-color: transparent;
      font-size: 150%;
      padding: 2em 0;
      text-align: center;
    }
  }

  .odd {
    td {
      background-color: #f0f0f0;
    }
  }

  &.pie-charts {
    border: none;
    border-collapse: separate;
    border-spacing: 0.5em;

    margin: 0.25em 0 0.25rem 0;

    tr {
      background-color: transparent !important;

      td {
        font-size: 0.625rem;
        line-height: 1;
        padding: 0;
        vertical-align: middle;
      }
    }
  }
}


/* fixed-header tables */
.fixed-table-container {

  $defaultTableHeight: 475px;
  $defaultHeaderHeight: 50px;
  $defaultHeaderLineHeight: 25px;
  $borderColor: #ddd;

  display: inline-block; /* required to make horizontal scrolling work */
  height: $defaultTableHeight;
  background-color: white;
  position: relative; /* could be absolute or relative */
  padding-top: $defaultHeaderHeight; /* height of header */
  width: 100%;
  .fixed-table-container-inner {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    border: 1px solid $borderColor;
    border-top: none;
    border-left: none;
    border-right: none;
    .entry-table-row-header {
      div {
        width: 10px;
        text-align: center;
        margin: auto;
        display: inline-block;
      }
    }
  }

  .header-background {
    height: $defaultHeaderHeight; /* height of header */
    background-color: #F5F5F5;
    border: solid 1px $borderColor;
    border-bottom: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  table {
    background-color: white;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: -18px 0 -1px 0;

    th {
      border-bottom: 1px solid $borderColor;
    }

    td {
      border-left: 1px solid $borderColor;
      &:first-child {
        border-left: none;
      }

      &.section-header, &.section-header:hover {
        font-size: 11px;
        background-color: #999;
        font-weight: 100;
        color: #fff;
        text-transform: uppercase;
      }
    }

    .th-inner {
      position: absolute;
      top: 1px;
      line-height: $defaultHeaderLineHeight; /* height of header */
      text-align: left;
      height: $defaultHeaderHeight;
      padding-left: 5px;
      margin-left: -10px;
      z-index: 900;

      border-left: 1px solid $borderColor;
      background-color: #F5F5F5;

      /* to hide overflow text, and then reveal on hover: */
      white-space: nowrap;
      overflow-x: hidden;
      &:hover {
        overflow-x: visible;
        z-index: 1000;
        width: auto;
        padding-right: 10px;
      }
    }
    th:first-child .th-inner {
      border-left: none;
    }
  }
}

$valueColumnWidth: 80px;


.fixed-table-container table {

  border-collapse: collapse;

  .th-inner {
    min-width: $valueColumnWidth;
  }

  .completionStatus {
    font-size: .9em;
    min-width: 40px;
  }

  .rowCompletionStatus {
    width: $valueColumnWidth;
    text-align: center;
  }

}

.completionStatus {
  font-weight: bold;
}

.empty,
.loading
{
  background-color: #fafafa;
  color: #999;
  text-align: center;
  padding: 40px 0;
}
