table {
  border: 1px solid #DDDDDD;
  border-collapse: collapse;
  margin-top: 10pt;
  width: 100%;

  thead {
    tr {
      th {
        color: $rhz-font-color;
        padding: 0.5rem 0.625rem 0.625rem;
        text-align: left;
        text-transform: uppercase;
        background-color: $rhz-background-color;
      }
    }
  }

  td {
    background-color: white;
    cursor: default;
    font-size: 9pt;
    padding: 3pt 0;
  }

  tbody {
    tr:not(.empty):hover {
      td {
        background-color: $ghost;
      }
    }
  }

  tfoot {
    td {
      background-color: #DDDDDD;
      padding: 0;

      &.more {
        font-size: rem-calc(10);
        text-align: center;

        &:hover {
          background-color: #DDDDDD;
        }

        a {
          color: $body-font-color;
          display: block;
          font-weight: bold;
          opacity: 0.6;

          transition: opacity 300ms ease-in-out;

          &:hover {
            color: inherit;
            opacity: 1;
          }
        }
      }
    }
  }

  .numeric {
    text-align: right;
  }

  .empty {
    td {
      background-color: transparent;
      font-size: 150%;
      padding: 2em 0;
      text-align: center;
    }
  }

  .odd {
    td {
      background-color: #f0f0f0;
    }
  }

  &.pie-charts {
    border: none;
    border-collapse: separate;
    border-spacing: 0.5em;

    margin: 0.25em 0 0.25rem 0;

    tr {
      background-color: transparent !important;

      td {
        font-size: 0.625rem;
        line-height: 1;
        padding: 0;
        vertical-align: middle;
      }
    }
  }
}


/* fixed-header tables */
.fixed-table-container {

  $defaultTableHeight: 475px;
  $defaultHeaderHeight: 50px;
  $defaultHeaderLineHeight: 25px;
  $borderColor: #ddd;

  display: inline-block; /* required to make horizontal scrolling work */
  height: $defaultTableHeight;
  background-color: white;
  position: relative; /* could be absolute or relative */
  padding-top: $defaultHeaderHeight; /* height of header */
  width: 100%;
  .fixed-table-container-inner {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    border: 1px solid $borderColor;
    border-top: none;
    border-left: none;
    border-right: none;
    .entry-table-row-header {
      div {
        width: 10px;
        text-align: center;
        margin: auto;
        display: inline-block;
      }
    }
  }

  .header-background {
    height: $defaultHeaderHeight; /* height of header */
    background-color: #F5F5F5;
    border: solid 1px $borderColor;
    border-bottom: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  table {
    background-color: white;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: -18px 0 -1px 0;

    th {
      border-bottom: 1px solid $borderColor;
    }

    td {
      border-left: 1px solid $borderColor;
      &:first-child {
        border-left: none;
      }

      &.section-header, &.section-header:hover {
        font-size: 11px;
        background-color: #999;
        font-weight: 100;
        color: #fff;
        text-transform: uppercase;
      }
    }

    .th-inner {
      position: absolute;
      top: 1px;
      line-height: $defaultHeaderLineHeight; /* height of header */
      text-align: left;
      height: $defaultHeaderHeight;
      padding-left: 5px;
      margin-left: -10px;
      z-index: 900;

      border-left: 1px solid $borderColor;
      background-color: #F5F5F5;

      /* to hide overflow text, and then reveal on hover: */
      white-space: nowrap;
      overflow-x: hidden;
      &:hover {
        overflow-x: visible;
        z-index: 1000;
        width: auto;
        padding-right: 10px;
      }
    }
    th:first-child .th-inner {
      border-left: none;
    }
  }
}

$valueColumnWidth: 80px;

.fixed-table-container table {

  border-collapse: collapse;

  .th-inner {
    min-width: $valueColumnWidth;
  }

  td.editable {

    width: $valueColumnWidth;
    padding: 2px;

    .displayValue,
    .editControl
    {
      width: 100%;
      height: 100%;
      padding: 4px 6px;
    }

    .displayValue {
      cursor: pointer;
      min-height: 20px;
    }

    .editControl {

      display: none;
      border: 1px solid #aaa;
      font-size: inherit;
      min-width: 50px;

      &:focus {
        outline: 0;
      }
    }

    &.editing .displayValue,
    &.saving .displayValue
    {
      display: none;
    }

    &.editing .editControl {
      display: block;
    }
    &.saving .editControl {
      display: none;
    }

    .saving-icon {
      display: none;
    }
    &.saving .saving-icon {
      display: inherit;
    }

    /* cell status */
    &.missing .displayValue {
      background-color: #A9A9A9// #FFEB86// rgb(255, 235, 134);
    }

    &.error {
      background-color: #FF9081;
    }

  }

  .completionStatus {
    font-size: .9em;
    min-width: 40px;
  }

  .rowCompletionStatus {
    width: $valueColumnWidth;
    text-align: center;
  }

}

.completionStatus {
  font-weight: bold;
}

.empty,
.loading
{
  background-color: #fafafa;
  color: #999;
  text-align: center;
  padding: 40px 0;
}
