$tooltip-bg: rgba(72, 72, 77, 0.9);
$pointer-size: 7px;
$pointer-offset: -14px;
$pointer-margin: 8px;

.tooltip {
	display: inline;
	position: absolute;
	background-color: $tooltip-bg;
	box-shadow: -1px 2px 2px grey;
	// border-radius: 4px;
	border: 1px solid rgba(65, 65, 70, 1);
	margin-bottom: $pointer-size;
	max-width: 30em;
	width: auto;
	padding: .5rem .8rem;

	// Reset some of the tooltip crap from Foundation
	left: auto;
	right: auto;
	bottom: auto;
	top: auto;

	transition: opacity 300ms ease;

	&.fade-enter {
		opacity: 0;
	}

	&.fade-leave {
		opacity: 0;
	}

	.pointer {
		position: absolute;

		border-color: transparent;
		border-style: solid;
		border-width: $pointer-size;

		height: 0;
		width: 0;

	}

	&.top {
		left: 0;
		bottom: 100%;

		.pointer {
			border-top-color: $tooltip-bg;

			left: $pointer-margin;
			bottom: $pointer-offset;
		}
	}

	&.right {
		left: 100%;
		top: -$pointer-margin;
		margin-left: -$pointer-offset;

		.pointer {
			border-right-color: $tooltip-bg;

			left: $pointer-offset;
			top: $pointer-margin;
		}
	}

	&.bottom {
		top: 100%;
		left: 0;
		margin-top: $pointer-size;

		.pointer {
			border-bottom-color: $tooltip-bg;

			left: $pointer-margin;
			top: $pointer-offset;
		}
	}

	&.left {
		right: 100%;
		top: -$pointer-margin;
		margin-right: -$pointer-offset;

		.pointer {
			border-left-color: $tooltip-bg;

			top: $pointer-margin;
			right: $pointer-offset;
		}
	}
}
