.float-none {
  float: none;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}

.font-weight-600 {
  font-weight: 600;
}

.full-width {
  width: 100%;
}

.databrowser__button {
  width: 100%;
}

.invisible {
  visibility: hidden;
}

.hidden {
	display: none;
}