$rhz-primary-color: #436380;
$rhz-primary-color-light: mix(white, #436380, 50%);

$rhz-font-color: #FEFEFE;
$rhz-font-hover-color: $rhz-primary-color;
$rhz-body-color: #222222;
$rhz-link-color: $rhz-primary-color;
$rhz-error-bg: #FFE5E5;

$rhz-background-color: $rhz-primary-color;
$rhz-dashboard-bg-color: #FFFFFF;

$rhz-tab-active-bg-color: $rhz-primary-color;


$rhz-navigation-bg-color: #000000;
$rhz-footer-bg-color: #252525;
$rhz-navigation-color: $rhz-font-color;
$rhz-navigation-hover-bg-color:#6B7A83;
$rhz-navigation-hover-bg-color-glass: rgba(107, 122, 131, 0.8);

$rhz-navigation-hover-sop-color: #c32027;
$rhz-navigation-hover-c4d-color: #217985;
$rhz-navigation-hover-data-color: $rhz-primary-color;

$rhz-button-bg-color: #344B61;
$rhz-button-color: $rhz-font-color;

$rhz-chart-panel-color: #FFFFFF;
$rhz-chart-legend-color: #BFBFBF;

$rhz-slide-color: #E2E2E2;
$rhz-slide-dot-color: #EFEEEE;
$rhz-slide-dot-active-color: #BCBCBC;

$rhz-chart-title-bg-color: #334B61;
$rhz-chart-title-color: #FFFFFF;

$rhz-bullet-chart-no-data-color: #B9C3CB;

$header-height: 5.8rem;
