@import "fonts";
@import "variables";
@import "mixins";
@import "settings";
@import "foundation";
@import "font-awesome";
@import "utilities";
@import "forms";
@import "charts";
@import "list";
@import "dropdown";
@import "dropdown-list";
@import "animations";
@import "menu";
@import "buttons";
@import "navigation";
@import "dashboards";
@import "notifications";
@import "dashboards-redesign";
@import "dashboard-builder";
@import "radio-group";
@import "entry-form";
@import "user-account";
@import "tables";
@import "text";
@import "tooltip";
@import "admin";
@import "expandable-section";
@import "data-explorer";
@import "react-widgets";
@import "react-widgets-core";
@import "rw-dateTimePicker";
@import "csv-upload";
@import "footer";

$break-small: 340px;
$break-large: 1300px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) {
      @content;
    }
  } @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) {
      @content;
    }
  } @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) {
      @content;
    }
  }
}

body {
  font-size: rem-calc(11);
  overflow-x: hidden;
}

@import "header";
@import "about";

@import "homepage";

#management-dashboard {
  background-color: $rhz-dashboard-bg-color;
}

#main {
  padding-bottom: 100px;
  @media #{$small-only} {
    padding-top: 4rem;
  }
}


select {
  padding-right: 1.5em;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
}

nav#main-nav {
  @include clearfix;

  ul {
    display: inline-block;
    font-size: 9pt;

    &.right:last-child {
      margin-right: -12pt;
    }

    li {
      border-top: 2px solid transparent;
      display: inline-block;
      margin-bottom: 3px;
      padding: 4pt 12pt 3pt 12pt;
    }

  }

  a {
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
    transition: opacity 300ms ease;

    &:focus,
    &:hover {
      color: #fff !important;
      opacity: 1;
      outline: none;
    }
  }
}



.pageWelcome {
  color: #999;
  margin: 10px 0 20px 0;
}

body.home {
  background-color: $rhz-background-color;
}

nav .home,
body.dashboard nav .dashboard,
body.data nav .data,
body.data-entry nav .data-entry,
body.admin nav .admin {
  border-top: 2px solid #ffcc67;

  a {
    opacity: 1;
  }
}

.bottom {
  position: absolute;
  bottom: 0;
}

.error {
  color: $alert-color;
  margin-top: 1.3em;
}

a {
  transition: color 300ms ease-in-out;

  &[href]:hover {
    color: $secondary-color;
  }
}



*[role="menuitem"] {
  color: $body-font-color;
  display: block;
  padding: 5pt;

  &:hover {
    background-color: $primary-color;
    color: white;
  }
}


[class*="block-grid-"] > li {
  padding-bottom: 0;
}

.disabled {
  cursor: $button-disabled-cursor;
  opacity: $button-disabled-opacity;
}

.clickable {
  cursor: pointer;
  color: $oil;
}

.underline {
  text-decoration: underline;
}





.statusText-good {
  color: #29A13A;
}

.statusText-okay {
  color: rgb(242, 129, 0);
}

.statusText-bad {
  color: #EC1C24;
}

.login {
  background-color: $oil;

  .wrapper {
    // background: url('../img/RhizomeLogoWhite.png') no-repeat top center;
    padding-top: 150px;
    margin: 70pt auto;

    p {
      color: white;
      max-width: 45em;
      text-align: center;
      font-size: 1.1em;
      margin: 0 auto 30px auto;
    }
  }

  form {
    max-width: 300px;
    margin: 0 auto;

    label {
      color: $white;
    }

    input {
      width: 100%;
    }
  }
}

.permissions__message {
  text-align: center;
  margin: 10%;
  h2 {
    font-size: 1.5rem;
  }
}

svg {
  width: 100%;
}

.pagination {
  a {
    display: inline-block;
    font-size: 9pt;
    padding: 2pt;

    &.current {
      background-color: $primary-color;
      color: #fff;
    }

    &:hover {
      background-color: $secondary-color;
      color: #fff;
    }
  }
}

.highlight {
  color: $secondary-color;
  font-weight: bold;
}

ul {
  &.pie {
    list-style: none;
    padding-left: 16pt;
    margin: 0;

    li {
      font-size: 8px;
      line-height: 1;
      margin-bottom: 2pt;
      padding-top: 3pt;
    }

    div.chart {
      display: inline-block;
      float: left;
      margin-left: -14pt;
      margin-top: -2px;
      max-width: 12pt;
    }
  }
}

.transit-points {
  .chart {
    svg {
      height: 22pt;
      width: 22pt;
    }
  }
}

.tooltip {
  color: #F1F1F1;
  margin: 10px;
  z-index: 9999;

  display: inline;
  width: auto;

  h1, h2, h3, h4, h5, h6 {
    border: none;
    color: inherit;
  }

  p {
    color: inherit;
    font-size: .625rem;

    table {
      display: inline-block;
      float: left;
      margin: 0 1em 0 0;
    }
  }

  table {
    background-color: transparent;
    border-top: 1px solid $steel;
    border-left: none;
    border-right: none;
    border-bottom: none;
    min-width: 0;
    table-layout: auto;
    width: initial;

    tr {
      background-color: transparent;
      padding: 0 0.5em;
    }

    td, th {
      background-color: transparent;
      border-bottom: 1px solid $steel;
      color: inherit;
      font-size: .625rem;
      padding: 0.1em;
    }
  }

  svg {
    .bg {
      fill: transparent;
    }
  }
}

.inline {
  display: block;
}

.menu-button {
  font-size: 1rem;
  color: $rhz-font-color;

  .fa-circle {
    color: $button-border-color;
    //text-shadow: 0 2px #667c89;
  }

  .fa-circle-thin {
    color: $button-border-color;
  }

  &:active {
    .fa-circle {
      text-shadow: 0 1px #667c89;
    }
  }
}

.menu {
  &:focus {
    outline: none;
  }

  .background {
    border: 1px solid #ddd;

    .arrow {
      border-bottom-color: $gainsboro !important;
    }
  }

  li.campaign {
    .office {
      color: $jumbo;
      font-weight: bold;
    }
  }

  hr {
    margin: 0
  }
}

.menu {
  *[role="search"] {
    input {
      background-color: $vapor;
    }
  }
}

.inverse {
  background-color: $gainsboro;
  color: $body-font-color;
  padding: 0.2em 0.7em;
}

.indicator-ranges {
  tbody {
    th {
      padding-right: 1em;
    }
  }
}

@media #{$small-up} {
  .small {
    &.inline {
      display: inline-block;
    }
  }
}

@media #{$medium-up} {
  .medium {
    &.inline {
      display: inline-block;
    }
  }
}

@media #{$large-up} {
  .large {
    &.inline {
      display: inline-block;
    }
  }
}

.overlay {
  background-color: transparentize($ghost, 0.3);
  color: $aluminum;
  opacity: 1;
  text-align: center;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  //z-index: 9996;

  & > div {
    display: table;
    width: 100%;
    height: 100%;

    & > div {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .empty {
    color: #B9C3CB;
    padding: 0;
    background-color: transparent;
    text-transform: uppercase;
  }
}

.cd-charts {
  margin: 0 0 115px 0;
}

.all-dashboard {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px;
  text-align: center;
}

.pdf-chart {
  .chart{
    width: 50%;
    margin: auto auto;
  }
  width: 100%;
}
