<td v-class="editable: isEditable, editing: isEditing, missing: missing, saving: isSaving, error: hasError">

	<i v-if="isEditable" class="fa fa-spinner fa-spin saving-icon"></i>

	<div v-on="click: toggleEditing(true)" class="displayValue" title="{{ hoverText }}">
		{{ formatted }}
	</div>

	<input v-if="isEditable"
		type="textfield"
		class="editControl"
		v-model="value | validator"
		v-on="keyup: submit | key 13, blur: submit"
		></input>

	<div v-if="width > 0" v-style="width: width + 'px'" style="height: 1px">&nbsp;</div>

</td>