table {

	td.editable {

		width: 150px;
		padding: 2px;

		.displayValue,
		.editControl 
		{
			width: 100%;
			height: 100%;
			padding: 4px 6px;
		}

		.displayValue {
			cursor: pointer;
			min-height: 20px;
		}

		.editControl {

			display: none;
			border: 1px solid #aaa;
			font-size: inherit;

			&:focus {
				outline: 0;
			}
		}

		&.editing .displayValue 
		{
			display: none;
		}

		&.editing .editControl {
			display: block;
		}

		/* cell status */
		&.missing .displayValue {
			background-color: rgb(255, 235, 134);
		}

	}

	td.completionStatus {
		font-size: .9em;
		width: 15px;
	}

}

.completionStatus {
	font-weight: bold;
}

.empty,
.loading
{
	background-color: #fafafa;
	color: #999;
	text-align: center;
	padding: 40px 0;
}
