<div v-if="!loading && rows.length > 0">

	<div class="completionStatus">
		<h5>
			Form is {{ stats.total.complete / stats.total.total | percent }} complete ({{ stats.total.complete }} / {{ stats.total.total }})
		</h5>
	</div>

	<table>
		<thead v-if="rows.length > 0">
			<tr>
				<th></th>
				<th v-repeat="col: columns">{{ col.header }}</th>
			</tr>
			<tr>
				<th></th>
				<th v-repeat="col: columns">
					<span v-if="col.type == 'value'" v-style="background-color: stats.byColumn[$index].complete / stats.byColumn[$index].total | completionColor" class="completionStatus">
						{{ stats.byColumn[$index].complete }} / {{ stats.byColumn[$index].total }}
					</span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr v-repeat="row: rows">
				
				<td>
					<span v-style="background-color: stats.byRow[$index].complete / stats.byRow[$index].total | completionColor" class="completionStatus">
						{{ stats.byRow[$index].complete }} / {{ stats.byRow[$index].total }}
					</span>
				</td>				

				<td v-repeat="row"
					v-component="uf-cell"></td>

			</tr>
		</tbody>
	</table>

</div>

<div v-if="!loading && rows.length < 1" class="empty">
	Use the options above to load a data entry form.
</div>

<div v-if="loading" class="loading">
	Loading&hellip;
</div>
