<div v-if="!loading && rows.length > 0">

	<div>
		<h5>
			Form is <span v-style="color: stats.total.complete / stats.total.total | completionColor" class="completionStatus">{{ stats.total.complete / stats.total.total | percent }}</span> complete ({{ stats.total.complete }} / {{ stats.total.total }} values entered)
		</h5>
	</div>

	<div class="fixed-table-container">
		<div class="header-background"></div>
		<div class="fixed-table-container-inner">

			<table>
				<thead v-if="rows.length > 0">
<!--
 					<tr>
						<th></th>
						<th v-repeat="col: columns"></th>
					</tr>
 -->
 					<tr>
						<th><div class="th-inner"></div></th>
						<th v-repeat="col: columns">
							<div class="th-inner">
								{{ col.header }}
								<div v-if="col.type == 'value'" class="completionStatus" v-style="color: stats.byColumn[$index].complete / stats.byColumn[$index].total | completionColor">
									{{ stats.byColumn[$index].complete }} / {{ stats.byColumn[$index].total }}
								</div>
							</div>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr v-repeat="row: rows">
						
						<td v-style="color: stats.byRow[$index].complete / stats.byRow[$index].total | completionColor" class="completionStatus">
							{{ stats.byRow[$index].complete }} / {{ stats.byRow[$index].total }}
						</td>				

						<td v-repeat="row"
							v-component="uf-cell"></td>

					</tr>
				</tbody>
			</table>

		</div>
	</div>

</div>

<div v-if="!loading && rows.length < 1" class="empty">
	Use the options above to load a data entry form.
</div>

<div v-if="loading" class="loading">
	Loading&hellip;
</div>
