{% extends "datapoints/base.html" %}

{% block content %}


    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    <form method="post" action="{% url 'login' %}" class="form-horizontal">

    {% csrf_token %}
            <div>{{ form.username.label_tag }} {{ form.username }}</div>
            <br>
            <div>{{ form.password.label_tag }} {{ form.password }}</div>
            <br>
    <button type="submit" class="btn btn-primary"> Login </button>
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
{% endblock %}
