<div class="chart">
	<svg
		class="line"
		v-attr="
			viewBox: '0 0 ' + width + ' ' + height,
			width  : width,
			height : height">

		<g v-attr="transform: 'translate(' + marginLeft + ',' + marginTop + ')'">
			<rect
				class="bg"
				v-attr="width: contentWidth, height: contentHeight"></rect>

			<g
				class="x axis"
			 	v-attr="transform: 'translate(0,' + contentHeight + ')'"></g>

			<g class="y axis"></g>
			<g class="data"></g>
			<g class="annotation"></g>
		</g>

	</svg>

	<div v-partial="loading-overlay"></div>
	<!-- <div v-partial="error-overlay"></div> -->
</div>
