<div class="chart">
	<svg
		v-class="chartType"
		v-attr="viewBox: '0 0 ' + width + ' ' + height">

		<g v-attr="transform: 'translate(' + marginLeft + ',' + marginTop + ')'">
			<g
				class="x axis"
			 	v-attr="transform: 'translate(0,' + contentHeight + ')'"></g>

			<g class="y axis"></g>
			<g class="data"></g>
			<g class="annotation"></g>
		</g>

		<text
			class="x axis-label"
			text-anchor="middle"
			v-attr="transform : 'translate(' + (width / 2) + ',' + height + ')'"
			v-text="xAxisLabel">
		</text>
		<text
			class="y axis-label"
			dy="1em"
			text-anchor="middle"
			v-attr="transform : 'rotate(-90) translate(' + (-height / 2) + ',0)'"
			v-text="yAxisLabel"></text>
	</svg>

	<div v-partial="loading-overlay"></div>
	<!-- <div v-partial="error-overlay"></div> -->
</div>
