<div class="chart" style="text-align: center">

	<svg
		class="pie"
		v-attr="
			viewBox: '0 0 ' + width + ' ' + height,
			width: width,
			height: height">

		<g v-attr="transform: 'translate(' + marginLeft + ',' + marginTop + ')'">
			<g v-attr="transform: 'translate(' + contentWidth/2 + ',' + contentHeight/2 + ')'">
				<path class="bg"></path>
				<g class="data"></g>
			</g>
			<g class="annotation"></g>
		</g>

	</svg>

	<div v-partial="loading-overlay"></div>
	<!-- <div v-partial="error-overlay"></div> -->

</div>
